
@{
    ViewData["Title"] = "售后管理系统";
}



@section Htmlhead{

    <style>

        iframe {
            display: block; /* iframes are inline by default */
            background: #000;
            border: none; /* Reset default border */
            height: 800px; /* Viewport-relative units */
            width: 100%;
        }
    </style>


}



<section class="content">


    <iframe lign="center" id="frame" name="frame" frameborder="0" scrolling="no" src="https://fanruan.yhwins.com:40802/webroot/decision/view/form?viewlet=%25E5%2594%25AE%25E5%2590%258E%25E7%25B3%25BB%25E7%25BB%259F%252F%25E5%2594%25AE%25E5%2590%258E%25E5%25A4%25A7%25E6%2595%25B0%25E6%258D%25AE%25E5%258F%25AF%25E8%25A7%2586%25E5%258C%2596%25E5%25B9%25B3%25E5%258F%25B0.frm&ref_t=design&ref_c=210f85e8-0ad9-4a3a-ad7e-c2f294843b7a"></iframe>



</section>