
@{
    ViewData["Title"] = "售后管理系统";
}



@section Htmlhead{

    <style>

        iframe {
            display: block; /* iframes are inline by default */
            background: #000;
            border: none; /* Reset default border */
            height: 800px; /* Viewport-relative units */
            width: 100%;
        }
    </style>


}



<section class="content">


    <iframe lign="center" id="frame" name="frame" frameborder="0" scrolling="no" src="http://fanruan.yhwins.com:8080/webroot/decision/view/form?viewlet=%E5%94%AE%E5%90%8E%E7%B3%BB%E7%BB%9F/%E5%94%AE%E5%90%8E%E5%A4%A7%E6%95%B0%E6%8D%AE%E5%8F%AF%E8%A7%86%E5%8C%96%E5%B9%B3%E5%8F%B0.frm&ref_t=design&ref_c=8b7ac4f0-e8de-4d6d-9ab7-1b4fd1f32583"></iframe>



</section>