@{
    ViewData["Title"] = "Login Page";
    Layout = "";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->

    <link href="~/css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/adminLTE/dist/css/AdminLTE.min.css" rel="stylesheet" />

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>您已成功登出系统！</b>
   


        </div>
        <!-- /.login-box-body -->
    </div>


</body>
</html>





