
@{
    ViewData["Title"] = "Index";
}

@section Pageheader{


    <script>

        function closeWui() {
            $(".wui-masked").hide();
            $('.wui-ilayout').animate({ width: '0' }, function () {
                $(".wui-ilayout iframe").attr("src", "about:blank");
            });
        }
        function showWui(uri, width) {
            var window_width = width || ($(window).width() / 2);
            $(".wui-masked").show();
            $(".wui-ilayout").show().animate({ width: window_width }, function () {
                var html = $("<div class='wui-ilayout-loading'><i class='icon-spin icon-spinner'></i>正在加载页面...</div>");
                $(".wui-ilayout iframe").before(html);
                $(".wui-ilayout iframe").attr('src', uri);
            });
        }


    </script>




    <h1>
        <small> 权限管理</small>

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Permission</li>
    </ol>

}




<section class="content">


    <div>
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#activity" data-toggle="tab">管理员</a></li>
                <li><a href="#activity2" data-toggle="tab">角色管理</a></li>
                <li><a href="#activity3" data-toggle="tab">模块管理</a></li>
                <li><a href="#activity4" data-toggle="tab">资源管理</a></li>
            </ul>
            <div class="tab-content">
                <div class="active tab-pane" id="activity">

                    <div class="box box-success" id="tab_account">
                        <div class="box-header">

                            <h3 class="box-title">List</h3>

                            <div class="box-tools mt-2">
                             
                                    <input type="button" class="btn btn-default pull-left  ml-1 mt-2" id="btn_role_add" value="新建管理员"  @@click="add_account()" />
                                   

                                    <div class="input-group input-group-sm  col-md-2 pull-right ml-1">
                                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" id="txt_Search_account" />

                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default " @@click="Search()" id="btn_Search_account"><i class="fa fa-search"></i></button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>管理员名称</th>
                                        <th>管理员工号</th>
                              
                                        <th>操作</th>

                                    </tr>
                                    <tr v-for="(item,index) in list">
                                        <td>{{item.USER_NAME}}</td>
                                        <td>{{item.WORK_ID}}</td>

                                        <td>
                                            <button type="button" class="btn bg-purple  btn-xs" v-on:click="Operation(item)">配置角色</button>
                                            <button type="button" class="btn bg-danger  btn-xs" v-on:click="del_account(item)">删除</button>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->


                        <div class="box-footer no-padding">

                            <div class="card-footer clearfix pull-right " style="margin-right:30px;margin-top:30px;margin-bottom:30px" id="div_page">

                                <ul class="pagination pagination-sm no-margin pull-right" id="ul_page_account">
                                </ul>




                            </div>


                            <!-- /.pull-right -->
                        </div>
                    </div>

                </div>

                <div class="tab-pane" id="activity2">

                    <div class="box box-danger" id="tab_role">
                        <div class="box-header">
                            <h3 class="box-title">List</h3>

                            <div class="box-tools">


                                <button type="button" class="btn btn-default " @@click="role_add()" id="btn_role_add">新建角色</button>


                                <div class="input-group input-group-sm hidden-xs" style="width: 200px;">
                                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" id="txt_Search_role" />

                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default " @@click="Search()" id="btn_Search_role"><i class="fa fa-search"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>角色名称</th>
                                        <th>添加时间</th>
                                        <th>操作</th>

                                    </tr>
                                    <tr v-for="(item,index) in list">
                                        <td>{{item.ROLE_NAME}}</td>
                                        <td>{{item.CREATE_TIME}}</td>

                                        <td>
                                            <button type="button" class="btn bg-purple  btn-xs" v-on:click="Operation(item)">配置功能</button>
                                            <button type="button" class="btn bg-danger  btn-xs" v-on:click="del_role(item)">删除</button>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->


                        <div class="box-footer no-padding">

                            <div class="card-footer clearfix pull-right " style="margin-right:30px;margin-top:30px;margin-bottom:30px" id="div_page">

                                <ul class="pagination pagination-sm no-margin pull-right" id="ul_page_role">
                                </ul>




                            </div>


                            <!-- /.pull-right -->
                        </div>
                    </div>

                </div>


                <div class="tab-pane" id="activity3">


                    <div class="box box-primary" id="tab_func">
                        <div class="box-header">

                            <h3 class="box-title">List</h3>

                            <div class="box-tools">

                                <button type="button" class="btn btn-default " @@click="func_add()" id="btn_role_add">新建模块</button>

                                <div class="input-group input-group-sm hidden-xs" style="width: 200px;">
                                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" id="txt_Search_func" />

                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default " @@click="Search()" id="btn_Search_func"><i class="fa fa-search"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>模块名称</th>
                                        <th>添加时间</th>
                                        <th>操作</th>

                                    </tr>
                                    <tr v-for="(item,index) in list">
                                        <td>{{item.FUNC_NAME}}</td>
                                        <td>{{item.CREATETIME}}</td>

                                        <td>
                                            <button type="button" class="btn bg-purple  btn-xs" v-on:click="Operation(item)">配置模块</button>
                                            <button type="button" class="btn bg-danger  btn-xs" v-on:click="del_func(item)">删除</button>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->


                        <div class="box-footer no-padding">

                            <div class="card-footer clearfix pull-right " style="margin-right:30px;margin-top:30px;margin-bottom:30px" id="div_page">

                                <ul class="pagination pagination-sm no-margin pull-right" id="ul_page_func">
                                </ul>




                            </div>


                            <!-- /.pull-right -->
                        </div>
                    </div>


                </div>


                <div class="tab-pane" id="activity4">

                    <div class="box box-success" id="tab_page">
                        <div class="box-header">
                            <h3 class="box-title">List</h3>

                            <div class="box-tools">

                                <button type="button" class="btn btn-default " @@click="page_add()" id="btn_role_add">新建资源</button>

                                <div class="input-group input-group-sm hidden-xs" style="width: 200px;">
                                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" id="txt_Search_page" />

                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default " @@click="Search()" id="btn_Search_page"><i class="fa fa-search"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>资源名称</th>
                                        <th>资源地址</th>
                                        <th>添加时间</th>
                                        <th>操作</th>

                                    </tr>
                                    <tr v-for="(item,index) in list">
                                        <td>{{item.PAGE_NAME}}</td>
                                        <td>{{item.PAGE_URL}}</td>
                                        <td>{{item.CREATE_TIME}}</td>

                                        <td>
                                          
                                            <button type="button" class="btn bg-danger  btn-xs" v-on:click="del_page(item)">删除</button>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->


                        <div class="box-footer no-padding">

                            <div class="card-footer clearfix pull-right " style="margin-right:30px;margin-top:30px;margin-bottom:30px" id="div_page">

                                <ul class="pagination pagination-sm no-margin pull-right" id="ul_page_page">
                                </ul>




                            </div>


                            <!-- /.pull-right -->
                        </div>
                    </div>

                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>



</section>



<!-- Control Sidebar -->

<div class="wui-masked" style="position:fixed;background:#fff;top:0;left:0;right:0;bottom:0;z-index:9998;opacity:0.3;display:none;"
     onclick="closeWui()"></div>


<div class="wui-ilayout" style="position:absolute; position:fixed;top:0;right:0;z-index:9999;bottom:0;border-left:4px #eee solid;display:none;background:#fff;">
    <div style="padding:2em;height:100%;">
        <iframe style="width:50%;border:0 none;height:100%;width:100%;" src="about:blank" onload="javascript:$('.wui-ilayout-loading').remove()"></iframe>
    </div>
</div>

<!-- /.control-sidebar -->


@section scripts{

    <link href="~/Reference/adminLTE/plugins/iCheck/flat/blue.css" rel="stylesheet" />
    <script src="~/Reference/adminLTE/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="~/Reference/adminLTE/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="~/Reference/adminLTE/plugins/iCheck/icheck.js"></script>
  



    <script>

        var account_pageIndex = 1;
        var account_pageSize = 10;
        var account_pageCount;
        var account_pageTotal;

        var role_pageIndex = 1;
        var role_pageSize = 10;
        var role_pageCount;
        var role_pageTotal;

        var page_pageIndex = 1;
        var page_pageSize = 10;
        var page_pageCount;
        var page_pageTotal;

        var func_pageIndex = 1;
        var func_pageSize = 10;
        var func_pageCount;
        var func_pageTotal;

        $(document).ready(function () {
            load_role();
            load_user();
            load_func();
            load_page();

        });


        var roleVm;
        var userVm;
        var funcVm;
        var pageVm;

        function load_role() {

            roleVm = new Vue({

                    el: "#tab_role",
                    data: {
                        list: [],
                    },
                    created: function () {

                        this.Init();

                    },
                    methods: {
                        Init: function () {
                            console.log("获取角色列表信息");
                            var self = this;
                            var keywork = $("#txt_Search_role").val();


                            var dialog = bootbox.dialog({
                                title: '正在导入中,请稍等...',
                                message: '<p><i class="fa fa-spin fa-spinner"></i> Loading...</p>'
                            });


                            MyAjax({
                                url: "/Permission/GetRoleList",
                                type: "POST",
                                data: {
                                    keyword: keywork,
                                    pageIndex: role_pageIndex,
                                    pageSize: role_pageSize,
                                },
                                success: function (result) {

                                 

                                    if (result.Success) {


                                        self.list = result.Content;

                                        role_pageIndex = result.PageIndex;
                                        role_pageSize = result.PageSize;
                                        role_pageCount = result.PageCount;
                                        role_pageTotal = result.PageTotal;

                                        self.PageBind();
                                    }
                                    dialog.modal('hide');

                                }
                            })
                        },
                        Operation: function (item) {

                            showWui("/Permission/RoleOperation?roleid=" + item.ROLE_ID);

                        },
                        Search: function () {
                            role_pageIndex = 1;
                            this.Init();
                        },
                        PageBind: function () {

                            $("#ul_page_role").jqPaginator({
                                totalPages: role_pageTotal,
                                visiblePages: role_pageSize,
                                currentPage: role_pageIndex,

                                first: ' <li><a href="#">First</a></li>',
                                prev: ' <li><a href="#">&laquo;</a></li>',
                                next: ' <li><a href="#">&raquo;</a></li>',
                                last: '<li><a href="#">Last<\/a><\/li>',
                                page: '<li><a href="javascript:void(0);">{{page}}<\/a><\/li>',

                                onPageChange: function (num, type) {

                                    role_pageIndex = num;

                                    if (type == "change") {
                                        roleVm.Init();
                                    }
                                }
                            });
                        },
                        role_add: function () {
                            bootbox.prompt("请输入新建角色名称?", function (result) {

                             
                                if (result === null || result=="") {

                                    alert_danger("请输入角色名！");
                               
                                } else {

                                    MyAjax({
                                        url: "/Permission/AddRole",
                                        type: "POST",
                                        data: {
                                            rolename:result
                                        },
                                        success: function (result) {

                                            if (!result.Success) {
                                                alert_danger("新建失败！")
                                               
                                            }

                                            alert_success("新建成功！");
                                            roleVm.Init();

                                        }
                                    })



                                }
                            });

                        },
                        del_role: function (item) {
                            bootbox.confirm("您确定删除该角色吗？", function (res) {

                                if (!res) {
                                    return;
                                }

                                MyAjax({
                                    url: "/Permission/DelRole",
                                    type: "POST",
                                    data: {
                                        roleid: item.ROLE_ID,

                                    },
                                    success: function (result) {
                                        if (result.Success) {

                                            alert_success("删除成功！");
                                            roleVm.Init();

                                        } else {
                                            alert_danger("删除失败");
                                        }
                                    }
                                })


                            });

                        }
                    }



            });


        }

        function load_user() {


            userVm = new Vue({

                el: "#tab_account",
                data: {
                    list: [],
                },
                created: function () {

                    this.Init();

                },
                methods: {
                    Init: function () {
                     
                        var self = this;
                        var keywork = $("#txt_Search_account").val();
                        MyAjax({
                            url: "/Permission/GetAccountList",
                            type: "POST",
                            data: {
                                keyword: keywork,
                                pageIndex: account_pageIndex,
                                pageSize: account_pageSize,
                            },
                            success: function (result) {
                                console.log("查询角色表："+JSON.stringify(result));
                                if (result.Success) {

                                    self.list = result.Content;

                                    account_pageIndex = result.PageIndex;
                                    account_pageSize = result.PageSize;
                                    account_pageCount = result.PageCount;
                                    account_pageTotal = result.PageTotal;

                                    self.PageBind();
                                }
                            }
                        })
                    },
                    Operation: function (item) {
                        showWui("/Permission/AccountOperation?userid=" + item.USER_ID);

                    },
                    Search: function () {
                        account_pageIndex = 1;
                        this.Init();
                    },
                    PageBind: function () {

                        $("#ul_page_account").jqPaginator({
                            totalPages: account_pageTotal,
                            visiblePages: account_pageSize,
                            currentPage: account_pageIndex,

                            first: ' <li><a href="#">First</a></li>',
                            prev: ' <li><a href="#">&laquo;</a></li>',
                            next: ' <li><a href="#">&raquo;</a></li>',
                            last: '<li><a href="#">Last<\/a><\/li>',
                            page: '<li><a href="javascript:void(0);">{{page}}<\/a><\/li>',

                            onPageChange: function (num, type) {

                                account_pageIndex = num;

                                if (type == "change") {
                                    userVm.Init();
                                }
                            }
                        });
                    },
                    add_account: function () {
                     
                        showWui("/Permission/AddAccount");

                    },
                    del_account: function (item) {

                        console.log(item);
                        console.log(item.USER_ID);

                        bootbox.confirm("您确定删除该管理员吗？", function (res) {

                            if (!res) {
                                return;
                            }

                            MyAjax({
                                url: "/Permission/DelAccount",
                                type: "POST",
                                data: {
                                    userid: item.USER_ID

                                },
                                success: function (result) {
                                    if (result.Success) {

                                        alert_success("删除成功！");
                                        userVm.Init();

                                    } else {
                                        alert_danger("删除失败");
                                    }
                                }
                            })


                        });

                    }
                }



            });



        }

        function load_func() {


            funcVm = new Vue({

                el: "#tab_func",
                data: {
                    list: [],
                },
                created: function () {

                    this.Init();

                },
                methods: {
                    Init: function () {
                        console.log("获取角色列表信息");
                        var self = this;
                        var keywork = $("#txt_Search_func").val();
                        MyAjax({
                            url: "/Permission/GetFuncList",
                            type: "POST",
                            data: {
                                keyword: keywork,
                                pageIndex: func_pageIndex,
                                pageSize: func_pageSize,
                            },
                            success: function (result) {
                                console.log(JSON.stringify(result));
                                if (result.Success) {

                                    self.list = result.Content;

                                    func_pageIndex = result.PageIndex;
                                    func_pageSize = result.PageSize;
                                    func_pageCount = result.PageCount;
                                    func_pageTotal = result.PageTotal;

                                    self.PageBind();
                                }
                            }
                        })
                    },
                    Operation: function (item) {
                        showWui("/Permission/FuncOperation?funcid=" + item.FUNC_ID);
                    },
                    Search: function () {
                        func_pageIndex = 1;
                        this.Init();
                    },
                    PageBind: function () {

                        $("#ul_page_func").jqPaginator({
                            totalPages: func_pageTotal,
                            visiblePages: func_pageSize,
                            currentPage: func_pageIndex,

                            first: ' <li><a href="#">First</a></li>',
                            prev: ' <li><a href="#">&laquo;</a></li>',
                            next: ' <li><a href="#">&raquo;</a></li>',
                            last: '<li><a href="#">Last<\/a><\/li>',
                            page: '<li><a href="javascript:void(0);">{{page}}<\/a><\/li>',

                            onPageChange: function (num, type) {

                                func_pageIndex = num;

                                if (type == "change") {
                                    funcVm.Init();
                                }
                            }
                        });
                    },
                    func_add: function () {
                        bootbox.prompt("请输入新建模块名称?", function (result) {
                            if (result === null || result === "") {

                                alert_danger("请输入模块名！");
                       
                            } else {

                                console.log("模块名称：====="+result)

                                MyAjax({
                                    url: "/Permission/AddFunc",
                                    type: "POST",
                                    data: {
                                        funcname: result
                                    },
                                    success: function (result) {

                                        if (!result.Success) {
                                            alert_danger("新建失败！")
                                            return;
                                        }

                                        alert_success("新建成功！");
                                        funcVm.Init();

                                    }
                                })



                            }
                        });

                    },
                    del_func: function (item) {
                        bootbox.confirm("您确定删除该模块吗？", function (res) {

                            if (!res) {
                                return;
                            }

                            MyAjax({
                                url: "/Permission/DelFunc",
                                type: "POST",
                                data: {
                                    funcid: item.FUNC_ID,

                                },
                                success: function (result) {
                                    if (result.Success) {

                                        alert_success("删除成功！");
                                        funcVm.Init();

                                    } else {
                                        alert_danger("删除失败");
                                    }
                                }
                            })


                        });

                    }
                }



            });





        }

        function load_page() {
            pageVm = new Vue({

                el: "#tab_page",
                data: {
                    list: [],
                },
                created: function () {

                    this.Init();

                },
                methods: {
                    Init: function () {
                        console.log("获取角色列表信息");
                        var self = this;
                        var keywork = $("#txt_Search_page").val();
                        MyAjax({
                            url: "/Permission/GetPageList",
                            type: "POST",
                            data: {
                                keyword: keywork,
                                pageIndex: page_pageIndex,
                                pageSize: page_pageSize,
                            },
                            success: function (result) {

                                if (result.Success) {

                                    self.list = result.Content;

                                    page_pageIndex = result.PageIndex;
                                    page_pageSize = result.PageSize;
                                    page_pageCount = result.PageCount;
                                    page_pageTotal = result.PageTotal;

                                    self.PageBind();
                                }
                            }
                        })
                    },
                    Operation: function (item) {


                    },
                    Search: function () {
                        page_pageIndex = 1;
                        this.Init();
                    },
                    PageBind: function () {

                        $("#ul_page_page").jqPaginator({
                            totalPages: page_pageTotal,
                            visiblePages: page_pageSize,
                            currentPage: page_pageIndex,

                            first: ' <li><a href="#">First</a></li>',
                            prev: ' <li><a href="#">&laquo;</a></li>',
                            next: ' <li><a href="#">&raquo;</a></li>',
                            last: '<li><a href="#">Last<\/a><\/li>',
                            page: '<li><a href="javascript:void(0);">{{page}}<\/a><\/li>',

                            onPageChange: function (num, type) {

                                page_pageIndex = num;

                                if (type == "change") {
                                    pageVm.Init();
                                }
                            }
                        });
                    },
                    page_add: function () {
                        bootbox.prompt({
                            title: "请输入资源名称?", inputType: 'textarea', callback: function (result) {
                                if (result === null) {

                                    alert_danger("请输入资源名称！");

                                } else {

                                    MyAjax({
                                        url: "/Permission/AddPageList",
                                        type: "POST",
                                        data: {
                                            value: result
                                        },
                                        success: function (result) {

                                            if (!result.Success) {
                                                alert_danger("新建失败！")
                                                return;
                                            }

                                            alert_success("新建成功！");
                                            pageVm.Init();

                                        }
                                    })



                                }
                            }
                        });

                    },
                    del_page: function (item) {
                        bootbox.confirm("您确定删除该资源吗？", function (res) {

                            if (!res) {
                                return;
                            }

                            MyAjax({
                                url: "/Permission/DelPage",
                                type: "POST",
                                data: {
                                    pageid: item.PAGE_ID,

                                },
                                success: function (result) {
                                    if (result.Success) {

                                        alert_success("删除成功！");
                                        pageVm.Init();

                                    } else {
                                        alert_danger("删除失败");
                                    }
                                }
                            })


                        });

                    }
                }



            });


        }


    </script>
}


