
@{
    ViewData["Title"] = "售后管理系统";
}







@{
    ViewData["Title"] = "Index";
}
@section Htmlhead{


    <style>

        .my-td {
            vertical-align: middle !important;
            text-align: center;
            font-weight: bold;
        }
    </style>


}


@section Pageheader{

    <script>

        function closeWui() {
            $(".wui-masked").hide();
            $('.wui-ilayout').animate({ width: '0' }, function () {
                $(".wui-ilayout iframe").attr("src", "about:blank");
            });
        }
        function showWui(uri, width) {
            var window_width = width || ($(window).width() / 2);
            $(".wui-masked").show();
            $(".wui-ilayout").show().animate({ width: window_width }, function () {
                var html = $("<div class='wui-ilayout-loading'><i class='icon-spin icon-spinner'></i>正在加载页面...</div>");
                $(".wui-ilayout iframe").before(html);
                $(".wui-ilayout iframe").attr('src', uri);
            });
        }

    </script>


    <h1>
        <small> 设备台账</small>

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Manchine</li>
    </ol>


}


<div id="tab_account">

    <section class="content">


        <div class="row ">



            <div>

                <!-- /.col -->
                <div id="tab">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">List</h3>

                            <div class="box-tools">

                                <div class="input-group input-group-sm  col-md-1 pull-right ml-1" style="margin-left:10px;">
                                    <button type="button" class="btn btn-default pull-right  btn-sm" @@click="AddShow()" id="btn_add">添加</button>
                                </div>

                                <div class="input-group input-group-sm  col-md-1 pull-right ml-1" style="margin-left:10px;">
                                    <button type="button" class="btn btn-default pull-right  btn-sm" @@click="ExportExcel()" id="btn_Search">导出Excel</button>
                                </div>

                                <div class="input-group input-group-sm  col-md-2 pull-right ml-1" style="margin-left: 10px; width: 150px;">
                                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" id="txt_Search" />

                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default " @@click="Search()" id="btn_Search"><i class="fa fa-search"></i></button>
                                    </div>

                                </div>

                                @*<div class="input-group input-group-sm  col-md-1 pull-right ml-1" style="margin-left:10px; width:150px;">


                                        <div class="input-group date input-group-sm  ">

                                            <input type="text" class="form-control pull-right" id="datepicker">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                    </div>*@


                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">

                            <table class="table table-bordered table-hover dataTable">
                                <tbody>
                                    <tr>
                                        <td class="my-td ">ID</td>
                                        <td class="my-td ">设备类型</td>
                                        <td class="my-td ">归属项目</td>
                                        <td class="my-td ">型号规格</td>
                                        <td class="my-td ">设备编号</td>
                                   
                                        <td class="my-td ">合同编号</td>
                                        <td class="my-td ">订单号</td>
                                        <td class="my-td ">订单时间</td>
                                        <td class="my-td ">送货时间</td>
                                        <td class="my-td ">送货单号</td>
                                        <td class="my-td ">收货时间</td>

                                        <td class="my-td">
                                            创建时间
                                        </td>
                                        <td class="my-td ">
                                            操作
                                        </td>
                                    </tr>


                                    <tr v-for="(item,index) in list">
                                        <td>{{item.MID}}</td>
                                        <td>{{item.TYPESNAME}}</td>
                                        <td>{{item.PROJECTNAME}}</td>
                                        <td>{{item.NAME}}</td>
                                        <td>{{item.SERIAL}}</td>
                                    
                                        <td>{{item.CONTRACT}}</td>
                                        <td>{{item.ORDERNO}}</td>
                                        <td>{{FormatDate(item.ORDERTIME)}}</td>
                                        <td>{{FormatDate(item.DELIVERYTIME)}}</td>
                                        <td>{{item.DELIVERYNUMBER}} </td>
                                        <td>{{FormatDate(item.CHECKTIME)}}</td>
                                        <td>{{item.CREATETIME}}</td>


                                        <td>
                                            <button type="button" class="btn bg-purple  btn-xs" v-on:click="UpdateShow(item)">修改</button>
                                            <button type="button" class="btn bg-danger btn-xs" v-on:click="Del(item)">删除</button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->


                        <div class="box-footer no-padding">
                            <div class="card-footer clearfix pull-left" style="margin-left:20px;margin-top:30px;margin-bottom:30px">

                            </div>

                            <div class="card-footer clearfix pull-right " style="margin-right:30px;margin-top:30px;margin-bottom:30px" id="div_page">

                                <ul class="pagination pagination-sm no-margin pull-right" id="ul_page">
                                </ul>
                            </div>


                            <!-- /.pull-right -->
                        </div>
                    </div>
                </div>


            </div>
            <!-- /.col -->
            <!-- /.row -->
        </div>


    </section>

    <!-- Control Sidebar -->

    <div class="wui-masked" style="position:fixed;background:#fff;top:0;left:0;right:0;bottom:0;z-index:9998;opacity:0.3;display:none;"
         onclick="closeWui()"></div>


    <div class="wui-ilayout" style="position:absolute; position:fixed;top:0;right:0;z-index:9999;bottom:0;border-left:4px #eee solid;display:none;background:#fff;">
        <div style="padding:2em;height:100%;background-color:gainsboro">
            <iframe style="width:50%;border:0 none;height:100%;width:100%;" src="about:blank" onload="javascript:$('.wui-ilayout-loading').remove()"></iframe>
        </div>
    </div>

    <!-- /.control-sidebar -->
    <!-- /.modal-dialog -->

    <div class="modal fade" id="modal-machine">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title" id="txt_username">{{isadd?"添加":"修改"}}</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal">



                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">设备类型：</label>

                            <div class="col-sm-7">

                                <select class="form-control" id="txt_debug_status" style="width:320px;" v-model="item.TYPES" @@change="SetTypes">

                                    <option :value="type.value" v-for="(type,index) in typeList">{{type.name}}</option>

                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="txt_projectname" class="col-sm-3 control-label">项目名称：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="project" placeholder="请选择项目名称" style="width:320px;" readonly="readonly" />
                            </div>

                            <button type="button" class="btn bg-purple  btn-xs " style="vertical-align:middle" v-on:click="FillProject()">选择项目</button>


                        </div>


                        <div class="form-group">
                            <label for="txt_projectname" class="col-sm-3 control-label">型号规格：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="txt_guige" v-model="item.NAME" placeholder="请输入设备名称" style="width:320px;" />
                            </div>
                        </div>


                        @*<div class="form-group">
                            <label for="txt_address" class="col-sm-3 control-label">设备编号：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="txt_productdate" v-model="item.SERIAL" placeholder="请输入设备编号" style="width:320px;" />
                            </div>
                        </div>*@

                        @*<div class="form-group ">
                            <label for="txt_address" class="col-sm-3 control-label">客户名称：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="txt_machine" v-model="item.CUSTOMER" placeholder="请输入客户名称" style="width:320px;" />
                            </div>
                        </div>*@

                        <div class="form-group">
                            <label for="txt_address" class="col-sm-3 control-label">合同编号：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="item.CONTRACT" placeholder="请输入设合同编号" style="width:320px;" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">订单号：</label>


                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="item.ORDERNO" placeholder="请输入订单号" style="width:320px;" />
                            </div>



                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">订单时间：</label>

                            <div class="input-group date col-sm-6" style="padding-left:15px">
                                <input type="text" class="form-control" id="txt_order_date" v-model="item.ORDERTIME" style="width:282px;" readonly="readonly" />
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">送货时间：</label>

                            <div class="input-group date col-sm-6" style="padding-left:15px">
                                <input type="text" class="form-control" id="txt_install_stardate" v-model="item.DELIVERYTIME" style="width:282px;" readonly="readonly" />
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txt_address" class="col-sm-3 control-label">送货单号：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="item.DELIVERYNUMBER" placeholder="请输入送货单号" style="width:320px;" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">收货时间：</label>

                            <div class="input-group date col-sm-6" style="padding-left:15px">
                                <input type="text" class="form-control" id="txt_install_enddate" v-model="item.CHECKTIME" style="width:282px;" readonly="readonly" />
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>

                        </div>


                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-right" v-if="isadd==true" v-on:click="Add()">添 加</button>
                    <button type="button" class="btn btn-default pull-right" v-if="isadd!=true" v-on:click="Update()">修 改</button>
                </div>
            </div>

        </div>


    </div>

</div>


@section scripts{


    <script src="~/Reference/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Reference/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <script>


        var vm = new Vue({
            el: "#tab_account",
            data: {
                list: [],

                pageIndex: 1,
                pageSize: 10,
                pageCount: 20,
                pageTotal: 0,


                typeList: [],


                id: 0,
                isadd: true,
                item: {},
                project: ""


        },
        created: function () {
            this.Init();
            this.LoadTyps();



        },
        mounted: function () {

            var _self = this;


            $('#txt_install_enddate ,#txt_install_stardate,#txt_order_date').datetimepicker({
                format: 'yyyy-mm-dd ',
                autoclose: true,
                minView: "month",  ///选择日期后，不会再跳转去选择时分秒
                language: 'zh-CN',
                dateFormat: 'yyyy-mm-dd',//日期显示格式
                // timeFormat: 'HH:mm:ss',//时间显示格式
                todayBtn: 1,
                autoclose: 1,
                // minView: 0,  //0表示可以选择小时、分钟   1只可以选择小时
                // minuteStep: 1,//分钟间隔1分钟
            });


            $('#txt_install_enddate').datetimepicker()
                .on('hide', function (ev) {
                    var value = $("#txt_install_enddate").val();
                    _self.item.CHECKTIME = value;

                });

            $('#txt_install_stardate').datetimepicker()
                .on('hide', function (ev) {
                    var value = $("#txt_install_stardate").val();
                    _self.item.DELIVERYTIME = value;

                });

            $('#txt_order_date').datetimepicker()
                .on('hide', function (ev) {
                    var value = $("#txt_order_date").val();
                    _self.item.ORDERTIME = value;

                });


        },
            methods: {

                Init() {

                    var self = this;
                    var keywork = $("#txt_Search").val();

                    console.log("请求数据：" + keywork);

                    MyAjax({
                        url: "/Machine/List",
                        type: "POST",
                        data: {
                            keywords: keywork,
                            pageIndex: self.pageIndex,
                            pageSize: self.pageSize
                        },
                        success: function (result) {

                            console.log(JSON.stringify(result));

                            if (!result.Success) {

                                alert_danger(result.Message);
                                return;
                            }

                            self.list = result.Content;



                            self.pageIndex = result.PageIndex;
                            self.pageSize = result.PageSize;
                            self.pageCount = result.PageCount;
                            self.TotalCount = result.PageTotal;

                            self.PageBind();
                        }
                    })
                },

                Search: function () {
                    pageIndex = 1;
                    this.Init();
                },
                PageBind: function () {
                    var self = this;

                    console.log()

                    $("#ul_page").jqPaginator({
                        totalPages: self.TotalCount,
                        visiblePages: self.pageSize,
                        currentPage: self.pageIndex,

                        first: ' <li><a href="#">First</a></li>',
                        prev: ' <li><a href="#">&laquo;</a></li>',
                        next: ' <li><a href="#">&raquo;</a></li>',
                        last: '<li><a href="#">Last<\/a><\/li>',
                        page: '<li><a href="javascript:void(0);">{{page}}<\/a><\/li>',

                        onPageChange: function (num, type) {

                            self.pageIndex = num;

                            if (type == "change") {
                                self.Init();
                            }
                        }
                    });
                },
                ExportExcel: function () {
                    var keyword = $("#txt_Search").val();
                    window.location = "/Machine/ExportExcel?keyword=" + keyword;
                },
                Del: function (item) {
                    var self = this;
                    bootbox.confirm("您确定删除改记录吗？", function (res) {
                        if (res) {

                            MyAjax({
                                url: "/Machine/Delete",
                                type: "POST",
                                data: {
                                    id: item.MID
                                },
                                success: function (result) {

                                    if (!result.Success) {

                                        alert_danger(result.Message);
                                        return;
                                    }
                                    alert_success("删除成功");
                                    self.Init();

                                }
                            })
                        }
                    });

                },
                AddShow: function () {
                    console.log("开始添加");
                    this.isadd = true;
                    this.item = {};

                    $('#modal-machine').modal('show');
                },
                UpdateShow: function (item) {
                    console.log("开始修改");
                    this.id = item.MID
                    this.isadd = false;

                    $('#modal-machine').modal('show');
                    this.InitItem();
                },

                Add: function () {
                    var _self = this;

                    console.log(_self.item);

                    MyAjax({
                        url: "/Machine/Add",
                        type: "POST",
                        data: _self.item,
                        success: function (result) {

                            console.log(JSON.stringify(result));

                            if (!result.Success) {
                                alert_danger(result.Message);
                                return;
                            }

                            alert_success(result.Message);
                            $('#modal-machine').modal('hide');
                            _self.Init();

                        }
                    })

                },
                Update() {
                    var _self = this;

                    MyAjax({
                        url: "/Machine/Update",
                        type: "POST",
                        data: _self.item,

                        success: function (result) {

                            console.log(JSON.stringify(result));

                            if (!result.Success) {
                                alert_danger(result.Message);
                                return;
                            }

                            alert_info(result.Message);
                            $('#modal-machine').modal('hide');
                            _self.Init();

                        }
                    })
                },
                InitItem() {
                    var _self = this;

                    MyAjax({
                        url: "/Machine/GetUpdateInfo",
                        type: "POST",
                        data: {
                            id: _self.id
                        },
                        success: function (result) {

                            console.log(JSON.stringify(result));

                            if (!result.Success) {
                                alert_danger(result.Message);
                                return;
                            }
                            _self.project = result.Content.PROJECTNAME;
                            _self.item = result.Content;

                        }
                    })
                },
                LoadTyps: function () {
                    //添加设备时的分类选择
                    var _self = this;
                    MyAjax({
                        url: "/MachineTypes/ListTypes",
                        type: "POST",
                        data: {

                        },
                        success: function (result) {

                            console.log(JSON.stringify(result));

                            if (!result.Success) {
                                alert_danger(result.Message);
                                return;
                            }

                            for (var i = 0; i < result.Content.length; i++) {

                                let model = {};
                                model.value = result.Content[i].ID;
                                model.name = result.Content[i].NAME;
                                _self.typeList.push(model);

                            }
                            _self.item.TYPES=_self.typeList[0].value;   //给默认值 不生效



                        }
                    })



                },
                SetTypes(e) {

                    console.log(e,this.item.TYPES);
                    //this.item.TYPES

                },
                 FillProject() {

                        showWui("/Project/FillProject");
                  },
                 SetProject(project) {

                     var _self = this;
                     _self.project = project.NAME + "[" + project.CODE + "]";
                         _self.item.PROJECTID = project.PID;
                         closeWui();
                 },
                 FormatDate(date) {

                     if (date == "" || date == null) {
                         return "";
                     }
                    return date.substr(0, 10);
                }
           },



       });


    </script>

}

