
@{
    ViewData["Title"] = "AddAndUpdate";
    Layout = "";
}
<html>
<head>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Reference/adminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">


    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Reference/adminLTE/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Reference/adminLTE/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->

    <link rel="stylesheet" href="~/Reference/adminLTE/dist/css/AdminLTE.css">

    <link rel="stylesheet" href="~/Reference/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">

    <link rel="stylesheet" href="~/Reference/adminLTE/dist/css/skins/_all-skins.min.css">




    <script src="~/Reference/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Reference/vue/vue.min.js"></script>

</head>
<body class="hold-transition skin-blue sidebar-mini" style="background-color:gainsboro">

    <div class="modal-dialog" id="tab_account">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@


                <button type="button" class="btn btn-default pull-right" v-if="type=='添加'" v-on:click="Add()">添 加</button>
                <button type="button" class="btn btn-default pull-right" v-if="type=='修改'" v-on:click="Update()">修 改</button>

                <h4 class="modal-title" id="txt_username">{{type}}</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal">

                    <div class="form-group">
                        <label for="txt_projectname" class="col-sm-3 control-label">项目名称：</label>

                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="txt_projectname" v-model="name" placeholder="请输入项目名称" style="width:320px;" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="txt_kehuname" class="col-sm-3 control-label">客户名称：</label>

                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="txt_customer_name" v-model="customer_name" placeholder="请输入客户名称" style="width:320px;" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txt_address" class="col-sm-3 control-label">出货时间：</label>

                        <div class="input-group date col-sm-6" style="padding-left:15px">
                            <input type="text" class="form-control" id="txt_productdate" v-model="productdate" style="width:282px;" readonly="readonly" />
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="txt_address" class="col-sm-3 control-label">设备名称：</label>

                        <div class="col-sm-3">

                            <select class="form-control" id="txt_types" v-model="MACHINETYPE" style="width:320px;">
                            </select>

                        </div>

                    </div>

                    <div class="form-group">
                        <label for="txt_address" class="col-sm-3 control-label">设备编号：</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="txt_machine" v-model="machine" placeholder="请输入设备编号" style="width:320px;" />
                        </div>
                    </div>




                    <div class="form-group">
                        <label for="txt_address" class="col-sm-3 control-label">设备数量：</label>

                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="txt_count" v-model="count" placeholder="请输入设备数量" style="width:320px;" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">安装负责人：</label>

                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="txt_install_name" v-model="install_name" placeholder="请输入安装负责人" style="width:320px;" />
                        </div>

                    </div>


                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">一级负责人：</label>

                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="txt_instll_lv1" v-model="install_lv1" placeholder="请输入一级负责人" style="width:320px;" />
                        </div>

                    </div>





                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">二级负责人：</label>

                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="txt_instll_lv2" v-model="install_lv2" placeholder="请输入二级负责人" style="width:320px;" />
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">三级负责人：</label>

                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="txt_instll_lv3" v-model="install_lv3" placeholder="请输入三级负责人" style="width:320px;" />
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">安装开始时间：</label>

                        <div class="input-group date col-sm-6" style="padding-left:15px">
                            <input type="text" class="form-control" id="txt_install_stardate" v-model="install_stardate" style="width:282px;" readonly="readonly" />
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">安装结束时间：</label>

                        <div class="input-group date col-sm-6" style="padding-left:15px">
                            <input type="text" class="form-control" id="txt_install_enddate" v-model="install_enddate" style="width:282px;" readonly="readonly" />
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">安装天数：</label>

                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="txt_install_days" v-model="install_days" placeholder="请输入安装天数" style="width:320px;" />
                        </div>

                    </div>


                    @*<div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">安装状态：</label>

            <div class="col-sm-7">


                <select class="form-control" id="txt_install_status" v-model="install_status" style="width:320px;">
                </select>


            </div>

        </div>*@


                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">调试开始时间：</label>

                        <div class="input-group date col-sm-6" style="padding-left:15px">
                            <input type="text" class="form-control" id="txt_debug_stardate" v-model="debug_stardate" style="width:282px;" readonly="readonly" />
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">调试结束时间：</label>

                        <div class="input-group date col-sm-6" style="padding-left:15px">
                            <input type="text" class="form-control" id="txt_debug_enddate" v-model="debug_enddate" style="width:282px;" readonly="readonly" />
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>

                    </div>


                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">调试天数：</label>

                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="txt_debug_days" v-model="debug_days" placeholder="请输入调试天数" style="width:320px;" />
                        </div>

                    </div>


                    @*<div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">调试状态：</label>

            <div class="col-sm-7">

                <select class="form-control" id="txt_debug_status" v-model="debug_status" style="width:320px;">
                </select>


            </div>

        </div>*@



                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">验收开始时间：</label>


                        <div class="input-group date col-sm-6" style="padding-left:15px">
                            <input type="text" class="form-control" style="width:282px;" id="txt_check_stardate" v-model="check_stardate" readonly="readonly" />
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>

                    </div>






                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">验收结束时间：</label>

                        <div class="input-group date col-sm-6" style="padding-left:15px">

                            <input type="text" class="form-control" style="width:282px;" id="txt_check_enddate" v-model="check_enddate" readonly="readonly" />
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>


                        </div>

                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">验收天数：</label>

                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="txt_count_down" v-model="count_down" placeholder="请输入倒计时天数" style="width:320px;" />
                        </div>

                    </div>


                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" v-if="type=='添加'" v-on:click="Add()">添 加</button>
                <button type="button" class="btn btn-default pull-right" v-if="type=='修改'" v-on:click="Update()">修 改</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>

</body>
</html>

<!-- jQuery 3 -->
<!-- Bootstrap 3.3.7 -->
<script src="~/Reference/adminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Slimscroll -->
<script src="~/Reference/adminLTE/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="~/Reference/adminLTE/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="~/Reference/adminLTE/dist/js/adminlte.min.js"></script>


<script src="~/Reference/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Reference/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>


<script src="~/Reference/scripts/jquery.bootstrap-growl.js"></script>


<script src="~/js/jq-paginator.min.js"></script>
<script src="~/Reference/bootbox/bootbox.min.js"></script>
<script src="~/Reference/scripts/CommonScript.js"></script>

<script src="~/Reference/scripts/alertsjavascrtpt.js"></script>

<script>



    var vm = new Vue({
        el: "#tab_account",
        data: {
            type: "add",
            id: 0,      //主键id

            pid: "",
            name: "",
            customer_name: "",
            productdate: "",
            machine: "",
            count: 0,
            install_name: "",
            install_lv1: "",
            install_lv2: "",
            install_lv3: "",
            install_stardate: "",
            install_enddate: "",
            install_days: 0,
            install_status: 0,
            debug_stardate: "",
            debug_enddate: "",
            debug_days: 0,
            debug_status: 0,
            check_stardate: "",
            check_enddate: "",
            count_down: 0,
            REMARKS: "123",
            MACHINETYPE: 0,
            MACHINET:0

        },
        created: function () {

            var ops = getQueryString("type");



            if (ops == "add") {
                this.type = "添加";
                return;
            }
            this.type = "修改";


            this.Init();
           

        },
        mounted: function () {

            var _self = this;


            $('#txt_check_enddate ,#txt_check_stardate,#txt_debug_enddate,#txt_debug_stardate,#txt_install_enddate,#txt_install_stardate,#txt_productdate').datetimepicker({
                format: 'yyyy-mm-dd ',
                autoclose: true,
                minView: "month",  ///选择日期后，不会再跳转去选择时分秒
                language: 'zh-CN',
                dateFormat: 'yyyy-mm-dd',//日期显示格式
                // timeFormat: 'HH:mm:ss',//时间显示格式
                todayBtn: 1,
                autoclose: 1,
                // minView: 0,  //0表示可以选择小时、分钟   1只可以选择小时
                // minuteStep: 1,//分钟间隔1分钟
            });


            $('#txt_install_stardate').datetimepicker()
                .on('hide', function (ev) {
                    var stardate = $("#txt_install_stardate").val();

                    _self.install_stardate = stardate;

                    var enddate = $("#txt_install_enddate").val();

                    _self.install_days = _self.DateSpan(stardate, enddate);

                });

            $('#txt_install_enddate').datetimepicker()
                .on('hide', function (ev) {
                    var enddate = $("#txt_install_enddate").val();

                    _self.install_enddate = enddate;

                    var stardate = $("#txt_install_stardate").val();
                    _self.install_days = _self.DateSpan(stardate, enddate);


                });

            $('#txt_debug_stardate').datetimepicker()
                .on('hide', function (ev) {
                    var stardate = $("#txt_debug_stardate").val();
                    _self.debug_stardate = stardate;

                    var enddate = $("#txt_debug_enddate").val();

                    _self.debug_days = _self.DateSpan(stardate, enddate);

                });

            $('#txt_debug_enddate').datetimepicker()
                .on('hide', function (ev) {
                    var enddate = $("#txt_debug_enddate").val();
                    _self.debug_enddate = enddate;
                    var stardate = $("#txt_debug_stardate").val();
                    _self.debug_days = _self.DateSpan(stardate, enddate);

                });

            $('#txt_check_stardate').datetimepicker()
                .on('hide', function (ev) {
                    var stardate = $("#txt_check_stardate").val();
                    _self.check_stardate = stardate;
                    var enddate = $("#txt_check_enddate").val();

                    _self.count_down = _self.DateSpan(stardate, enddate);
                });

            $('#txt_check_enddate').datetimepicker()
                .on('hide', function (ev) {
                    var enddate = $("#txt_check_enddate").val();
                    _self.check_enddate = enddate;

                    var stardate = $("#txt_check_stardate").val();

                    _self.count_down = _self.DateSpan(stardate, enddate);

                });

            $('#txt_productdate').datetimepicker()
                .on('hide', function (ev) {
                    var value = $("#txt_productdate").val();
                    _self.productdate = value;

                });



            $("#txt_install_status,#txt_debug_status").append($("<option value=\"0\" >正常</option>   <option value=\"1\">超前</option>    <option value=\"2\">延后</option>      "));


            $("#txt_install_status").change(function () {

                _self.install_status = $("#txt_install_status").val();
            });


            $("#txt_debug_status").change(function () {

                _self.debug_status = $("#txt_debug_status").val();
            });



            this.BindTypes();
           
           
        },
        methods: {

            Init() {

                var _self = this;

                _self.id = getQueryString("id");

                console.log("当前ID：" + _self.id);

                MyAjax({
                    url: "/Project/GetUpdateInfo",
                    type: "POST",
                    data: {
                        id: _self.id
                    },
                    success: function (result) {

                        console.log(JSON.stringify(result));

                        if (!result.Success) {
                            alert_danger(result.Message);
                            return;
                        }

                        _self.pid = result.Content.PID;
                        _self.name = result.Content.NAME;
                        _self.customer_name = result.Content.CUSTOMER_NAME;
                        _self.productdate = result.Content.PRODUCTDATE;
                        _self.machine = result.Content.MACHINE;
                        _self.count = result.Content.COUNT;
                        _self.install_name = result.Content.INSTALL_NAME;
                        _self.install_lv1 = result.Content.INSTALL_LV1;
                        _self.install_lv2 = result.Content.INSTALL_LV2;
                        _self.install_lv3 = result.Content.INSTALL_LV3;
                        _self.install_stardate = result.Content.INSTALL_STARDATE;
                        _self.install_enddate = result.Content.INSTALL_ENDDATE;
                        _self.install_days = result.Content.INSTALL_DAYS;
                        _self.install_status = result.Content.INSTALL_STATUS;
                        _self.debug_stardate = result.Content.DEBUG_STARDATE;
                        _self.debug_enddate = result.Content.DEBUG_ENDDATE;
                        _self.debug_days = result.Content.DEBUG_DAYS;
                        _self.debug_status = result.Content.DEBUG_STATUS;
                        _self.check_stardate = result.Content.CHECK_STARDATE;
                        _self.check_enddate = result.Content.CHECK_ENDDATE;
                        _self.count_down = result.Content.COUNT_DOWN;
                        _self.MACHINETYPE = result.Content.MACHINETYPE;
                        _self.MACHINET = result.Content.MACHINET;
                    }
                })
            },


            Add: function () {
                var _self = this;

                MyAjax({
                    url: "/Project/Add",
                    type: "POST",
                    data: {

                        NAME: _self.name,
                        CUSTOMER_NAME: _self.customer_name,
                        PRODUCTDATE: _self.productdate,
                        MACHINE: _self.machine,
                        COUNT: _self.count,
                        INSTALL_NAME: _self.install_name,
                        INSTALL_LV1: _self.install_lv1,
                        INSTALL_LV2: _self.install_lv2,
                        INSTALL_LV3: _self.install_lv3,
                        INSTALL_STARDATE: _self.install_stardate,
                        INSTALL_ENDDATE: _self.install_enddate,
                        INSTALL_DAYS: _self.install_days,
                        INSTALL_STATUS: _self.install_status,
                        DEBUG_STARDATE: _self.debug_stardate,
                        DEBUG_ENDDATE: _self.debug_enddate,
                        DEBUG_DAYS: _self.debug_days,
                        DEBUG_STATUS: _self.debug_status,
                        CHECK_STARDATE: _self.check_stardate,
                        CHECK_ENDDATE: _self.check_enddate,
                        COUNT_DOWN: _self.count_down,
                        MACHINETYPE: _self.MACHINETYPE,
                        MACHINET:_self.MACHINET
                    },
                    success: function (result) {

                        console.log(JSON.stringify(result));

                        if (!result.Success) {
                            alert_danger(result.Message);
                            return;
                        }

                        alert_success(result.Message);



                        window.parent.vm.Init();

                    }
                })

            },
            Update: function (item) {

                var _self = this;

                MyAjax({
                    url: "/Project/Update",
                    type: "POST",
                    data: {
                        PID: _self.pid,
                        NAME: _self.name,
                        CUSTOMER_NAME: _self.customer_name,
                        PRODUCTDATE: _self.productdate,
                        MACHINE: _self.machine,
                        COUNT: _self.count,
                        INSTALL_NAME: _self.install_name,
                        INSTALL_LV1: _self.install_lv1,
                        INSTALL_LV2: _self.install_lv2,
                        INSTALL_LV3: _self.install_lv3,
                        INSTALL_STARDATE: _self.install_stardate,
                        INSTALL_ENDDATE: _self.install_enddate,
                        INSTALL_DAYS: _self.install_days,
                        INSTALL_STATUS: _self.install_status,
                        DEBUG_STARDATE: _self.debug_stardate,
                        DEBUG_ENDDATE: _self.debug_enddate,
                        DEBUG_DAYS: _self.debug_days,
                        DEBUG_STATUS: _self.debug_status,
                        CHECK_STARDATE: _self.check_stardate,
                        CHECK_ENDDATE: _self.check_enddate,
                        COUNT_DOWN: _self.count_down,
                        MACHINETYPE: _self.MACHINETYPE,
                        MACHINET: _self.MACHINET
                    },
                    success: function (result) {

                        console.log(JSON.stringify(result));

                        if (!result.Success) {
                            alert_danger(result.Message);
                            return;
                        }

                        alert_info(result.Message);

                        window.parent.vm.Init();

                    }
                })



            },
            DateSpan: function (datestar, dateend) {

                datestar = datestar.replace(/-/g, "/");
                var startdate = new Date(datestar);

                dateend = dateend.replace(/-/g, "/");
                var enddate = new Date(dateend);

                var time = enddate.getTime() - startdate.getTime();
                var days = parseInt(time / (1000 * 60 * 60 * 24));

                return days



            },

            BindTypes: function () {

                var _self = this;
                MyAjax({
                    url: "/Project/ListTypes",
                    type: "POST",
                    data: {
                        id: _self.id
                    },
                    success: function (result) {

                        console.log(JSON.stringify(result));

                        if (!result.Success) {
                            alert_danger(result.Message);
                            return;
                        }


                        for (var i = 0; i < result.Content.length; i++) {
                            $("#txt_types").append($("<option value='" + result.Content[i].ID + "' >" + result.Content[i].NAME + "</option>     "));

                        }
                       

                        $("#txt_types").change(function () {

                            _self.MACHINETYPE = $("#txt_types").val();

                         
                        });


                    }
                })
            
            },


        }




    });





</script>
