
@{
    ViewData["Title"] = "售后管理系统";
}
@section Htmlhead{


    <style>

        .my-td {
            vertical-align: middle !important;
            text-align: center;
            font-weight: bold;
        }
    </style>


}


@section Pageheader{

    <script>

        function closeWui() {
            $(".wui-masked").hide();
            $('.wui-ilayout').animate({ width: '0' }, function () {
                $(".wui-ilayout iframe").attr("src", "about:blank");
            });
        }
        function showWui(uri, width) {
            var window_width = width || ($(window).width() / 2);
            $(".wui-masked").show();
            $(".wui-ilayout").show().animate({ width: window_width }, function () {
                var html = $("<div class='wui-ilayout-loading'><i class='icon-spin icon-spinner'></i>正在加载页面...</div>");
                $(".wui-ilayout iframe").before(html);
                $(".wui-ilayout iframe").attr('src', uri);
            });
        }

    </script>


    <h1>
        <small>  项目管理</small>

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Project</li>
    </ol>


}




<section class="content">
    <div class="row">

        <!-- /.col -->
        <div id="tab_account">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">List</h3>

                    <div class="box-tools">

                        <div class="input-group input-group-sm  col-md-1 pull-right ml-1" style="margin-left:10px;">
                            <button type="button" class="btn btn-default pull-right" @@click="Add()" id="btn_Add">添加项目</button>
                        </div>

                        <div class="input-group input-group-sm  col-md-1 pull-right ml-1" style="margin-left:10px;">
                            <button type="button" class="btn btn-default pull-right" @@click="ExportExcel()" id="btn_Search">导出Excel</button>
                        </div>

                        <div class="input-group input-group-sm  col-md-2 pull-right ml-1" style="margin-left: 10px; width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" id="txt_Search" />

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default " @@click="Search()" id="btn_Search"><i class="fa fa-search"></i></button>
                            </div>

                        </div>

                        @*<div class="input-group input-group-sm  col-md-1 pull-right ml-1" style="margin-left:10px; width:150px;">
                                <div class="input-group date">

                                    <input type="text" class="form-control pull-right" id="datepicker">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>*@


                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">

                    <span style="display:none" id="sp_userid"></span>
                    <span style="display:none" id="sp_username"></span>
                    <table class="table table-bordered table-hover dataTable">
                        <tbody>
                            <tr>
                                <td rowspan="2" class="my-td ">项目名称</td>
                                <td rowspan="2" class="my-td ">地区</td>
                                <td rowspan="2" class="my-td ">项目编号</td>
                                <td rowspan="2" class="my-td ">客户名称</td>

                                <td rowspan="2" class="my-td ">出货时间</td>
                                <td rowspan="2" class="my-td ">设备名称</td>
                                <td rowspan="2" class="my-td ">数量</td>
                                <td rowspan="2" class="my-td ">安装<br />负责人</td>
                                <td rowspan="2" class="my-td ">一级<br />负责人</td>
                                <td rowspan="2" class="my-td ">二级<br />负责人</td>
                                <td rowspan="2" class="my-td ">三级<br />负责人</td>
                                <td rowspan="2" class="my-td">  创建<br />时间  </td>

                                <td colspan="3" class="my-td bg-success">
                                    安装时效
                                </td>

                                <td colspan="3" class="my-td bg-info">
                                    调试时效
                                </td>

                                <td colspan="3" class="my-td bg-warning">
                                    验收时效
                                </td>




                                <td rowspan="2" class="my-td " style="width:150px">
                                    操作
                                </td>


                            </tr>
                            <tr>



                                <td class="my-td"> 开始<br />时间</td>
                                <td class="my-td"> 结束<br />时间</td>
                                <td class="my-td"> 安装<br />天数</td>

            





                                @*<td class="my-td"> 安装<br />进度</td>*@

                                <td class="my-td"> 开始<br />时间</td>
                                <td class="my-td"> 结束<br />时间</td>
                                <td class="my-td"> 调试<br />天数</td>
                                @*<td class="my-td"> 调试<br />进度</td>*@

                                <td class="my-td"> 开始<br />时间</td>
                                <td class="my-td"> 结束<br />时间</td>
                                <td class="my-td"> 验收<br />天数</td>
                            </tr>




                            <tr v-for="(item,index) in list">
                                <td>{{item.NAME}}</td>
                                <td>{{item.Area_Name}}</td>
                                <td>{{item.CODE}}</td>
                                <td>{{item.CUSTOMER_NAME}}</td>


                                <td>{{Formtat(item.PRODUCTDATE)}}</td>
                                @*<td>{{item.MACHINE}}</td>*@

                                <td>{{item.TYPESNAME}}-{{item.MACHINE}}</td>


                                <td>{{item.COUNT}}</td>
                                <td>{{item.INSTALL_NAME}}</td>

                                <td> {{item.INSTALL_LV1}}</td>
                                <td>{{item.INSTALL_LV2}} </td>
                                <td>{{item.INSTALL_LV3}}</td>
                                <td>{{item.CREATETIME}}</td>

                                <td>{{Formtat(item.INSTALL_STARDATE)}}</td>
                                <td>{{Formtat(item.INSTALL_ENDDATE)}}</td>




                                <td v-bind:class="BindBgClass(item.INSTALL_DAYS,item.INSTALLDAYS)">{{item.INSTALL_DAYS}}</td>


                     

                                <td>{{ Formtat(item.DEBUG_STARDATE)}}</td>
                                <td>{{Formtat(item.DEBUG_ENDDATE)}}</td>


                                <td v-bind:class="BindBgClass(item.DEBUG_DAYS,item.DEBUGDAYS)">{{item.DEBUG_DAYS}}</td>



                         

                                <td>{{Formtat(item.CHECK_STARDATE)}}</td>
                                <td>{{Formtat(item.CHECK_ENDDATE)}}</td>

                                <td v-bind:class="BindBgClass(item.COUNT_DOWN,item.CHECKDAYS)">{{item.COUNT_DOWN}}</td>



                                <td>

                                    <button type="button" class="btn bg-teal  btn-xs" v-on:click="Attachment(item)">附件</button>


                                    <button type="button" class="btn bg-purple  btn-xs" v-on:click="Update(item)">修改</button>
                                    <button type="button" class="btn bg-red btn-xs" v-on:click="Del(item)">删除</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->


                <div class="box-footer no-padding">
                    <div class="card-footer clearfix pull-left" style="margin-left:20px;margin-top:30px;margin-bottom:30px">

                    </div>

                    <div class="card-footer clearfix pull-right " style="margin-right:30px;margin-top:30px;margin-bottom:30px" id="div_page">

                        <ul class="pagination pagination-sm no-margin pull-right" id="ul_page">
                        </ul>
                    </div>


                    <!-- /.pull-right -->
                </div>
            </div>
        </div>


    </div>
    <!-- /.col -->
    <!-- /.row -->



</section>

<!-- Control Sidebar -->

<div class="wui-masked" style="position:fixed;background:#fff;top:0;left:0;right:0;bottom:0;z-index:9998;opacity:0.3;display:none;"
     onclick="closeWui()"></div>


<div class="wui-ilayout" style="position:absolute; position:fixed;top:0;right:0;z-index:9999;bottom:0;border-left:4px #eee solid;display:none;background:#fff;">
    <div style="padding:2em;height:100%;background-color:gainsboro">
        <iframe style="width:50%;border:0 none;height:100%;width:100%;" src="about:blank" onload="javascript:$('.wui-ilayout-loading').remove()"></iframe>
    </div>
</div>

<!-- /.control-sidebar -->

@section scripts{

    <script>


       var vm = new Vue({
           el: "#tab_account",
           data: {
                   list: [],
                   pageIndex:1,
                   pageSize:10,
                   pageCount:20,
                   pageTotal:0

           },
           created: function () {

               this.Init();


           },
           methods: {

               Init() {

                   var self = this;
                   var keywork = $("#txt_Search").val();

                   console.log("请求数据：" + keywork);


                   MyAjax({
                       url: "/Project/List",
                       type: "POST",
                       data: {
                           keywords: keywork,
                           pageIndex: self.pageIndex,
                           pageSize: self.pageSize
                       },
                       success: function (result) {

                          console.log(JSON.stringify(result));

                           if (!result.Success) {

                               alert_danger(result.Message);
                               return;
                           }

                           self.list = result.Content;



                           self.pageIndex = result.PageIndex;
                           self.pageSize = result.PageSize;
                           self.pageCount = result.PageCount;
                           self.pageTotal = result.PageTotal;


                           self.PageBind();
                       }
                   })
               },

               Search: function () {
                   pageIndex = 1;
                   this.Init();
               },
               PageBind: function () {
                   var self = this;

                   console.log()

                   $("#ul_page").jqPaginator({
                       totalPages: self.pageTotal,
                       visiblePages: self.pageSize,
                       currentPage: self.pageIndex,

                       first: ' <li><a href="#">First</a></li>',
                       prev: ' <li><a href="#">&laquo;</a></li>',
                       next: ' <li><a href="#">&raquo;</a></li>',
                       last: '<li><a href="#">Last<\/a><\/li>',
                       page: '<li><a href="javascript:void(0);">{{page}}<\/a><\/li>',

                       onPageChange: function (num, type) {

                           self.pageIndex = num;

                           if (type == "change") {
                               self.Init();
                           }
                       }
                   });
               },
               ExportExcel: function () {
                   var keyword = $("#txt_Search").val();
                   window.location = "/Project/ExportExcel?keyword=" + keyword;
               },
               Del: function (item) {
                   var self = this;
                   bootbox.confirm({
                       size: "small",
                       message: "您确定要删除该记录吗?",

                       callback: function (res) {
                           if (res) {

                               MyAjax({
                                   url: "/Project/Delete",
                                   type: "POST",
                                   data: {
                                       pid: item.PID
                                   },
                                   success: function (result) {

                                       if (!result.Success) {

                                           alert_danger(result.Message);
                                           return;
                                       }
                                       alert_success("删除成功");
                                       self.Init();

                                   }
                               })
                           }
                       }
                   });



               },
               Add: function () {

                   showWui("/Project/AddAndUpdate?type=add");
               },
               Update: function (item) {
                   showWui("/Project/AddAndUpdate?type=update&id=" + item.PID);

               },
               Formtat: function (date) {

                   if (date == "" || date == null || date=="null") {
                       return "";
                   }

                   return date.substr(0, 10);
               },

               Attachment(item) {
                   showWui("/Project/Attachment?id=" + item.PID);

               },

               BindBgClass: function (days1, days2) {

                 
                   if (days1 == days2) {
                       return "bg-blue";
                   }
                   if (days1 < days2) {
                       return "bg-green";
                   }
                   if (days1 > days2) {

                       return "bg-red";
                   }


               }





           },
            


       });


    </script>

}

