
#btn_send {
    width:100px;
}
#btn_group_send {
    width: 100px;
}
#btn_timesend {
    width: 100px;
}
#btn_group_timesend {
    width: 100px;
}
#btn_savedraft {
    width: 100px;
}
[v-cloak] {
    display: none
} 