
@{
    ViewData["Title"] = "修改问题管理表";
}
@section Pageheader{


    <script>

        function closeWui() {
            $(".wui-masked").hide();
            $('.wui-ilayout').animate({ width: '0' }, function () {
                $(".wui-ilayout iframe").attr("src", "about:blank");
            });
        }
        function showWui(uri, width) {
            var window_width = width || ($(window).width() / 2);
            $(".wui-masked").show();
            $(".wui-ilayout").show().animate({ width: window_width }, function () {
                var html = $("<div class='wui-ilayout-loading'><i class='icon-spin icon-spinner'></i>正在加载页面...</div>");
                $(".wui-ilayout iframe").before(html);
                $(".wui-ilayout iframe").attr('src', uri);
            });
        }

    </script>

    <h1>
        <small>修改问题管理表 </small>

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Customer</li>
    </ol>

}
<section class="content" id="tab">
    <div class="row">
        @*<div class="col-md-1"></div>*@
        <div class=" col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">工单信息</h3>
                </div>
                <form class="form-horizontal" id="form1">
                    <div class="box-body">

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="padding-right:0px">分析人员：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" value="null"  readonly="readonly" v-model="checkUser.USER_NAME">
                            </div>
                            <button type="button" class="btn bg-purple  btn-xs " style="vertical-align:middle" v-on:click="FillUser()">选择</button>
                        </div>
                        <div class="form-group" id="div_isorder">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="padding-right:0px">是否下单：</label>
                            <div class="col-sm-6">
                                <select class="form-control" v-model="info.ISORDER">
                                    <option value="0">否</option>
                                    <option value="0">是</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="div_bom" >
                            <label for="inputEmail3" class="col-sm-1 control-label" style="padding-right:0px">BOM图纸：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" value="null" v-model="info.BOM">
                            </div>
                        </div>
                        <div class="form-group" id="div_orderman">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="padding-right:0px">下单人：</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" value="null"  v-model="info.ORDERMAN">
                            </div>
                        </div>
                        <div class="form-group" id="div_ordertime">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="padding-right:0px">下单时间：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" id="txt_finddate" v-model="info.ORDERTIME" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="padding-right:0px">责任方：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" value="null" v-model="info.RESPONSIBLE">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="padding-right:0px">责任人：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" value="null" v-model="info.DUTY">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="padding-right:0px">处理人：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" v-model="checkUser2.USER_NAME" v-on:click="FillConductor()" readonly="readonly">
                            </div>
                            <button type="button" class="btn bg-purple  btn-xs " style="vertical-align:middle" v-on:click="FillConductor()">选择</button>
                        </div>


                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="padding-right:0px">初步原因：</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="3" v-model="info.ANALYZE"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="padding-right:0px">解决方案：</label>
                            <div class="col-sm-8" style="text-align:left">

                                <textarea class="form-control" style="margin-left:0px" rows="3" v-model="info.SOLUTION"></textarea>

                            </div>
                        </div>


                        <div class="box-footer">
                            <button type="reset" class="btn btn-default" v-on:click="Return()">取消</button>
                            <button type="button" class="btn btn-info pull-right" v-on:click="Update()">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>


</section>


<div class="wui-masked" style="position:fixed;background:#fff;top:0;left:0;right:0;bottom:0;z-index:9998;opacity:0.3;display:none;"
     onclick="closeWui()"></div>


<div class="wui-ilayout" style="position:absolute; position:fixed;top:0;right:0;z-index:9999;bottom:0;border-left:4px #eee solid;display:none;background:#fff;">
    <div style="padding:2em;height:100%;background-color:gainsboro">
        <iframe style="width:50%;border:0 none;height:100%;width:100%;" src="about:blank" onload="javascript:$('.wui-ilayout-loading').remove()"></iframe>
    </div>
</div>

@section scripts{

    <script src="~/Reference/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Reference/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <script>

        var self;
        var vm = new Vue({
            el: "#tab",
            data: {
                info: { },
                sid: 0,
                tid: 0,
                checkUser: {},
                checkUser2: {}
            },
            created: function () {
                self = this;

            },
            mounted: function () {

                self.sid = getQueryString("sid");
                self.tid = getQueryString("tid");
        
                self.BindDate(); //使用时间插件
                self.Init();
            },
            methods: {
                Init() {
                    MyAjax({
                        url: "/SupportTimeLine/DisposerInfo",
                        type: "POST",
                        data: {
                            sid: self.sid,
                            tid: self.tid
                        },
                        success: function (result) {

                            if (!result.Success) {

                                alert_danger("加载信息失败！");
                                return;
                            }
                            self.info = result.Content;
                            self.info.ID = self.info.TID;
                        }

                    });

                },
                Update() {
                    MyAjax({
                        url: "/SupportTimeLine/DisposerUpdate",
                        type: "POST",
                        data: {
                            info: self.info
                        },
                        success: function (result) {

                            if (!result.Success) {

                                alert_danger("修改失败！");
                                return;
                            }

                            bootbox.alert("工单信息修改成功，点击确定返回详情页", function () {
                                self.Return();
                            })

                        }

                    });

                },
                FillUser() {
                    showWui("/People/FillUser");
                },
                FillConductor() {

                    showWui("/People/FillUser2");
                },
                Return() {

                    window.location.href = "/SupportTimeLine/WorkFolw?id=" + self.sid;
                },
            
                SetUser(item) {  

                    console.log("打印初始化：",this.info);

                    this.checkUser = item;

                    this.info.ANALYZEUSER = item.USER_ID;
                    this.info.ANALYZEUSERNAME = item.USER_NAME;

                    closeWui();
                },
                SetUser2(item) { 
                    this.checkUser2 = item;

                    this.info.NEXTUSER = item.USER_ID;
                    this.info.NEXTUSERNAME = item.USER_NAME;

                    closeWui();
                },
                BindDate() {

                    $('#txt_finddate').datetimepicker({
                        format: "yyyy-mm-dd hh:00:00",
                        startDate: new Date("2020"),
                        autoclose: true,
                        minView: "month",  ///选择日期后，不会再跳转去选择时分秒
                        language: 'zh-CN',
                        dateFormat: 'yyyy-mm-dd',//日期显示格式
                        todayBtn: 1,
                        autoclose: 1,
                        initialDate: new Date(),
                      
                    });


                    $('#txt_finddate').datetimepicker().on('hide', function (ev) {
                        var enddate = $("#txt_finddate").val();
                        self.info.ORDERTIME = enddate;
                    });


                }
            },
        })

    </script>
}


