
@{
    ViewData["Title"] = "售后管理系统";
}
@section Pageheader{

    <script>

        function closeWui() {
            $(".wui-masked").hide();
            $('.wui-ilayout').animate({ width: '0' }, function () {
                $(".wui-ilayout iframe").attr("src", "about:blank");
            });
        }
        function showWui(uri, width) {
            var window_width = width || ($(window).width() / 2);
            $(".wui-masked").show();
            $(".wui-ilayout").show().animate({ width: window_width }, function () {
                var html = $("<div class='wui-ilayout-loading'><i class='icon-spin icon-spinner'></i>正在加载页面...</div>");
                $(".wui-ilayout iframe").before(html);
                $(".wui-ilayout iframe").attr('src', uri);
            });
        }

    </script>


    <h1>
        <small>  工单详情</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">ediotr </li>
    </ol>

}

<section class="content">

    <!-- row -->
    <div class="row" id="tab">
        <div class="col-md-12">
            <!-- The time line -->
            <ul class="timeline" id="ul_wf">
            </ul>
        </div>
        <!-- /.col -->
    </div>

</section>



@section scripts{
    <script src="~/js/Support_WorkFolw.js"></script>

    <script src="~/Reference/scripts/jquery.form.min.js"></script>

    <script src="~/Reference/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Reference/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>


    <script>
        var vm = new Vue({
            el: "#tab",
            data: {
                id: 0,

                his:[],

                supprotInfo: {},
                supportShow: false,

                disposerInfo: {},
                disposerShow: false,

                pmcInfo: {},
                pmcShow: false,

                siteInfo: {},
                siteShow: false,

                principalInfo: {},
                principalShow: false,


                isEditor: false,
            },
            created: function () {

                this.Init();

            },
            mounted: function () {
                var _self = this;
            },
            methods: {

                Init() {
                    var _self = this;
                    _self.id = getQueryString("id");
                    MyAjax({
                        url: "/SupportTimeLine/ListByHis",
                        type: "POST", async: false,
                        data: {
                            sid: _self.id
                        },
                        success: function (result) {

                            console.log("获取流程==="+JSON.stringify(result));

                            if (!result.Success) {

                                alert_danger(result.Message);
                                return;
                            }
                            _self.his = result.Content;

                            for (var i = 0; i < result.Content.length; i++) {

                                var type = result.Content[i].TYPE;
                                var sid = result.Content[i].SID;
                                var tid = result.Content[i].TID;

                                if (type==0) {
                                    _self.InsertSupport(sid, tid);
                                    console.log(1);
                                }
                                if (type == 1) {

                                    _self.InsertDisposer(sid, tid);
                                    console.log(2);
                                }
                                if (type == 2) {

                                    _self.InsertPmc(sid, tid);
                                    console.log(3);
                                }
                                if (type == 3) {

                                    _self.InsertSite(sid, tid);
                                    console.log(4);
                                }
                                if (type == 4) {

                                    _self.InsertPrincipal(sid, tid);
                                    console.log(5);
                                }
                            }




                        }
                    })

                },
                InsertSupport(sid, tid) {

                    console.log("InsertSupport=======1");
                    var _self = this;
                    _self.id = getQueryString("id");
                    $.ajax({
                        url: "/SupportTimeLine/GetSupportInfo",
                        type: "POST",
                        async: false,
                        data: {
                            sid: _self.id,
                            tid: _self.id
                        },
                        success: function (result) {

                            console.log("加载工单信息："+JSON.stringify(result));

                            if (!result.Success) {

                                alert_danger(result.Message);
                                return;
                            }
                            _self.supprotInfo = result.Content;
                            var html = SupportWF(_self.supprotInfo);

                            $("#ul_wf").append(html);

                        }
                    })

                },
                InsertDisposer(sid, tid) {
                    console.log("InsertDisposer=======2");
                    var _self = this;
                  
                    $.ajax({
                        url: "/SupportTimeLine/GetDisposerInfo",
                        type: "POST", async: false,
                        data: {
                            sid: sid,
                            tid: tid
                        },
                        success: function (result) {

                            console.log(JSON.stringify(result));

                            if (!result.Success) {

                                return;
                            }

                            _self.disposerInfo = result.Content;
                            var html = DisposerWF(_self.disposerInfo);
                            $("#ul_wf").append(html);


                            if (_self.disposerInfo.ISORDER == 0) {
                                $("#div_bom,#div_ordertime,#div_orderman").hide();
                            }
                        }
                    })



                },
                InsertPmc(sid, tid) {
                    console.log("InsertPmc=======3");
                    var _self = this;

                    $.ajax({
                        url: "/SupportTimeLine/GetPmcInfo",
                        type: "POST", async: false,
                        data: {
                            sid: sid,
                            tid: tid
                        },
                        success: function (result) {

                            console.log(JSON.stringify(result));

                            if (!result.Success) {
                                return;
                            }

                            _self.pmcInfo = result.Content;
                            var html = PmcWF(_self.pmcInfo);
                            $("#ul_wf").append(html);
                        }
                    })



                },
                InsertSite(sid, tid) {

                    console.log("InsertSite=======4");
                    var _self = this;


                    $.ajax({
                        url: "/SupportTimeLine/GetSiteInfo",
                        type: "POST", async: false,
                        data: {
                            sid: sid,
                            tid: tid
                        },
                        success: function (result) {

                            console.log(JSON.stringify(result));

                            if (!result.Success) {

                                return;
                            }

                            _self.siteInfo = result.Content;
                            var html = SiteWF(_self.siteInfo);
                            $("#ul_wf").append(html);
                        }
                    })





                },
                InsertPrincipal(sid, tid) {
                    console.log("InsertPrincipal=======5");
                    var _self = this;

                    $.ajax({
                        url: "/SupportTimeLine/GetPrincipalInfo",
                        type: "POST", async: false,
                        data: {
                            sid: sid,
                            tid: tid
                        },
                        success: function (result) {

                            console.log(JSON.stringify(result));

                            if (!result.Success) {

                                return;
                            }

                            _self.principalInfo = result.Content;
                            var html = PrincipalWF(_self.principalInfo);
                            $("#ul_wf").append(html);
                        }
                    })




                }

              
            },



        });


        function SetIsOrder(value) {

            if (value == 1) {
                return "是";
            }

            if (value == 0) {
                return "否";

              

            }

        }
        function SetSeverity (value) {
            return EnumGetSingle(value, Support_Severitylist());
        }
        function  SetType  (value) {
            return EnumGetSingle(value, Support_Typelist());
        }
        function  SetPriority(value) {
            return EnumGetSingle(value, Support_Prioritylist());
        }
        function  SetStatus(value) {
            return EnumGetSingle(value, Support_Statuslist());
        }

    </script>

}

