
@{
    ViewData["Title"] = "Direction";
}



@section Htmlhead{


    <!-- fullCalendar -->
    <link rel="stylesheet" href="~/Reference/adminLTE/bower_components/fullcalendar/dist/fullcalendar.min.css">
    <link rel="stylesheet" href="~/Reference/adminLTE/bower_components/fullcalendar/dist/fullcalendar.print.min.css" media="print">



    <style>

        .my-modal {
            width: 300px;
            height: 600px;
        }
    </style>


}

@section Pageheader{

    <script>

        function closeWui() {
            $(".wui-masked").hide();
            $('.wui-ilayout').animate({ width: '0' }, function () {
                $(".wui-ilayout iframe").attr("src", "about:blank");
            });
        }
        function showWui(uri, width) {
            var window_width = width || ($(window).width() / 2);
            $(".wui-masked").show();
            $(".wui-ilayout").show().animate({ width: window_width }, function () {
                var html = $("<div class='wui-ilayout-loading'><i class='icon-spin icon-spinner'></i>正在加载页面...</div>");
                $(".wui-ilayout iframe").before(html);
                $(".wui-ilayout iframe").attr('src', uri);
            });
        }

    </script>


    <h1>
        <small>  动向信息</small>

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Direction</li>
    </ol>


}



<section class="content">
    <div class="row">

        <!-- /.col -->
        <div id="tab_account" class="col-md-7">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">List</h3>

                    <div class="box-tools">
                        <div class="input-group input-group-sm  col-md-1 pull-right ml-1" style="margin-left:10px;">
                            <button type="button" class="btn btn-default pull-right" @@click="ExportExcel()" id="btn_Search">导出Excel</button>
                        </div>

                        <div class="input-group input-group-sm  col-md-2 pull-right ml-1" style="margin-left: 10px; width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" id="txt_Search" />

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default " @@click="Search()" id="btn_Search"><i class="fa fa-search"></i></button>
                            </div>

                        </div>


                        <div class="input-group input-group-sm  col-md-1 pull-right ml-1" style="margin-left:10px; width:150px;">

                            <div class="input-group date">

                                <input type="text" class="form-control pull-right" id="datepicker">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>


                        </div>


                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">

                    <span style="display:none" id="sp_userid"></span>
                    <span style="display:none" id="sp_username"></span>
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>工号</th>
                                <th>姓名</th>
                                <th>部门</th>
                                <th>职务</th>

                                <th>当月出差天数</th>
                                <th>工作视图</th>

                            </tr>
                            <tr v-for="(item,index) in list">
                                <td>{{item.WORK_ID}}</td>
                                <td>{{item.USER_NAME}}</td>
                                <td>{{item.DEPARTMENT }}</td>
                                <td>{{item.DTNAME}}</td>

                                <td>
                                    <span class="label bg-green">  {{item.MOUNTHCOUNT}}</span>
                                </td>

                                <td>
                                    <button type="button" class="btn bg-purple  btn-xs" v-on:click="RefushCalendar(item)">工作视图</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->


                <div class="box-footer no-padding">
                    <div class="card-footer clearfix pull-left" style="margin-left:20px;margin-top:30px;margin-bottom:30px">

                    </div>

                    <div class="card-footer clearfix pull-right " style="margin-right:30px;margin-top:30px;margin-bottom:30px" id="div_page">

                        <ul class="pagination pagination-sm no-margin pull-right" id="ul_page">
                        </ul>
                    </div>


                    <!-- /.pull-right -->
                </div>
            </div>
        </div>

        <div id="tab_mounth" class="col-md-5">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title" id="cander_title">工作日历</h3>


                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding" id="calendardiv">



                </div>


                <div class="box-footer no-padding">



                </div>
            </div>
        </div>


    </div>
    <!-- /.col -->
    <!-- /.row -->



</section>



<!-- Control Sidebar -->

<div class="wui-masked" style="position:fixed;background:#fff;top:0;left:0;right:0;bottom:0;z-index:9998;opacity:0.3;display:none;"
     onclick="closeWui()"></div>


<div class="wui-ilayout" style="position:absolute; position:fixed;top:0;right:0;z-index:9999;bottom:0;border-left:4px #eee solid;display:none;background:#fff;">
    <div style="padding:2em;height:100%;">
        <iframe style="width:50%;border:0 none;height:100%;width:100%;" src="about:blank" onload="javascript:$('.wui-ilayout-loading').remove()"></iframe>
    </div>
</div>

<!-- /.control-sidebar -->
<!-- /.modal-dialog -->

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="txt_username">Default Modal</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal">

                    <div class="form-group">
                        <label for="txt_projectname" class="col-sm-3 control-label">项目名称：</label>

                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="txt_projectname" readonly="readonly">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="txt_kehuname" class="col-sm-3 control-label">客户名称：</label>

                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="txt_kehuname" readonly="readonly">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txt_address" class="col-sm-3 control-label">工作地点：</label>

                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="txt_address" readonly="readonly">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="txt_type" class="col-sm-3 control-label">日报类型：</label>

                        <div class="col-sm-7">

                            <button type="button" class="btn btn-block btn-success btn-flat" id="btn_zaoban">早班</button>
                            <button type="button" class="btn btn-block btn-primary btn-flat" id="btn_wanban">晚班</button>

                        </div>
                    </div>




                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">工单标题：</label>

                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="txt_support" readonly="readonly">
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">日报内容：</label>

                        <div class="col-sm-7">
                            <textarea class="form-control" style="height:150px" readonly="readonly" id="txt_content">内容</textarea>
                        </div>

                    </div>


                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- /.modal-dialog -->


@section scripts{



    <script src="~/Reference/adminLTE/bower_components/moment/moment.js"></script>
    <script src="~/Reference/adminLTE/bower_components/fullcalendar/dist/fullcalendar.js"></script>
    <script src="~/Reference/adminLTE/bower_components/fullcalendar/dist/locale/zh-cn.js"></script>



    <!-- daterange picker -->
    <link rel="stylesheet" href="~/Reference/adminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="~/Reference/adminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <script src="~/Reference/adminLTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Reference/adminLTE/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>

    <script>

        //当前页码
        var pageIndex = 1;
        //每页显示条数
        var pageSize = 10;
        //总共多少条
        var pageCount;
        //总共多少页
        var pageTotal;

        $(document).ready(function () {

         
            Load();
            $('#datepicker').datepicker({
                language: "zh-CN", //语言
                todayHighlight: true, //是否今日高亮
                format: 'yyyy-mm', //点击月份后显示在input中的格式
                autoclose: true, //是否开启自动关闭
                startView: 'months', //开始视图层，为月视图层
                maxViewMode: 'years', //最大视图层，为年视图层
                minViewMode: 'months' //最小视图层，为月视图层
             
             

            })
        });




        var vm;

        function Load() {

            vm = new Vue({
                el: "#tab_account",
                data: {
                    list: [],
                    pIndex: pageIndex,
                    pSize: pageSize,
                    pCount: pageCount,
                    pTotal: pageTotal,
                    nowUserid: "",

                },
                created: function () {

                    this.Init();


                },
                methods: {
                    Init: function () {
                        var self = this;
                        var keywork = $("#txt_Search").val();
                        var date = $("#datepicker").val();

                        MyAjax({
                            url: "/Direction/List",
                            type: "POST",
                            data: {
                                date: date,
                                keyword: keywork,
                                pageIndex: pageIndex,
                                pageSize: pageSize
                            },
                            success: function (result) {

                                if (result.Success) {

                                    self.list = result.Content;

                                    pageIndex = result.PageIndex;
                                    pageSize = result.PageSize;
                                    pageCount = result.PageCount;
                                    pageTotal = result.PageTotal;

                                    nowUserid = result.Content[0].USER_ID;

                                    $("#sp_userid").html(nowUserid);
                                    $("#sp_username").html(result.Content[0].USER_NAME);

                                    self.PageBind();

                                    self.RefushCalendar(result.Content[0]);


                                }
                            }
                        })
                    },

                    Search: function () {
                        pageIndex = 1;
                        this.Init();
                    },
                    PageBind: function () {

                        $("#ul_page").jqPaginator({
                            totalPages: pageTotal,
                            visiblePages: pageSize,
                            currentPage: pageIndex,

                            first: ' <li><a href="#">First</a></li>',
                            prev: ' <li><a href="#">&laquo;</a></li>',
                            next: ' <li><a href="#">&raquo;</a></li>',
                            last: '<li><a href="#">Last<\/a><\/li>',
                            page: '<li><a href="javascript:void(0);">{{page}}<\/a><\/li>',

                            onPageChange: function (num, type) {

                                pageIndex = num;

                                if (type == "change") {
                                    vm.Init();
                                }
                            }
                        });
                    },
                    LoadCalendar: function (item) {

                        console.log(123);
                        showWui("/Direction/MonthView?userid=" + item.USER_ID);

                    },
                    RefushCalendar: function (item) {


                        console.log("RefushCalendar被调用了");
                        $("#calendardiv").html("");

                        $("#calendardiv").append(" <div id=\"calendar\"></div>");

                        var datevalue = $("#datepicker").val();

                        if (datevalue == null || datevalue == "") {

                            var myDate = new Date();
                            datevalue = myDate.toLocaleDateString();
                        }


                        $('#calendar').fullCalendar({
                            header: {
                                left: 'prev,next today',
                                center: 'title',

                            },
                            defaultDate: datevalue,
                            lang: 'zh-cn',
                            eventOrder: 'order',

                            eventClick: function (calEvent, jsEvent, view) {
                                //日程区块，单击时触发
                                console.log(calEvent);
                                console.log(calEvent.traid);
                                ModelDiaog(calEvent.traid);
                            },
                            events: function (start, end, timezone, callback) {

                                var date = this.getDate().format('YYYY-MM');

                                console.log("时间:" + date);

                                MyAjax({
                                    url: "/Direction/ListCander",
                                    type: "POST",
                                    data: {
                                        userid: item.USER_ID,
                                        date: date
                                    },
                                    success: function (result) {

                                        if (!result.Success) {

                                            alert_danger("数据加载失败！");
                                        }
                                        var list = result.Content

                                        $("#cander_title").html(item.USER_NAME + "  工作日历");
                                        var event = [];

                                        $.each(list, function (i) {

                                            var bgc = '#00a65a';
                                            var bdc = '#00a65a';
                                            var ismom = "早班";

                                            if (list[i].TYPE == 1) {
                                                bgc = '#0073b7';
                                                bdc = '#0073b7';
                                                ismom = "晚班";
                                            }

                                            console.log(ismom);

                                            event.push({
                                                title: ismom + "：" + list[i].PROJECTID,
                                                start: new Date(list[i].CREATETIME),
                                                order: list[i].TYPE,
                                                allDay: true,
                                                borderColor: bdc,
                                                backgroundColor: bgc,
                                                uid: item.USER_ID,
                                                traid: list[i].TRAID
                                            });
                                        });

                                        callback(event);

                                    }

                                });


                            }

                        });




                    },


                    ExportExcel: function () {
                        var keyword = $("#txt_Search").val();

                        var datevalue = $("#datepicker").val();


                        bootbox.dialog({
                            title: '导出Excel',
                            message: '<p>请问您需要导出合并数据 还是 全部数据？</p>',
                        
                            onEscape: true,
                            backdrop: true,


                            buttons: {
                                fee: {
                                    label: '合并数据',
                                    className: 'btn-primary',
                                    callback: function () {
                                        window.location = "/Direction/ExportExcelUnion?keyword=" + keyword + "&date=" + datevalue;
                                    }
                                },
                                fi: {
                                    label: '全部数据',
                                    className: 'btn-primary',
                                    callback: function () {
                                        window.location = "/Direction/ExportExcelAll?keyword=" + keyword + "&date=" + datevalue;
                                    }
                                },
                            
                            }
                        })






                  
                    }

                }
            })
        }


        function ModelDiaog(traid) {


            MyAjax({
                url: "/Direction/WrokReport",
                type: "POST",
                data: {
                    traid: traid

                },
                success: function (result) {

                    if (!result.Success) {

                        return;
                    }


                    $("#txt_username").html(result.Content.user_name+"  工作日报");
                    $("#txt_projectname").val(result.Content.project_name);

                    $("#txt_kehuname").val(result.Content.customer_name);
                   // $("#txt_address").val(result.Content.provincen_name + "-" + result.Content.city_name);

                    $("#txt_address").val(result.Content.Address);
                    if (result.Content.type == 0) {

                        $("#btn_zaoban").show();
                        $("#btn_wanban").hide();
                    } else {
                        $("#btn_zaoban").hide();
                        $("#btn_wanban").show();
                    }


                    $("#txt_support").val(result.Content.support_title);
                    $("#txt_content").val(result.Content.content);

                    $('#modal-default').modal('show');

                }

            });




        }



    </script>





}