
@{
    ViewData["Title"] = "Attachment";
    Layout = "";
}


<html>
<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Reference/adminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">



    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Reference/adminLTE/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Reference/adminLTE/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->

    <link rel="stylesheet" href="~/Reference/adminLTE/dist/css/AdminLTE.css">

    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Reference/adminLTE/dist/css/skins/_all-skins.min.css">
    <!-- Morris chart -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>

        .my-td {
            vertical-align: middle !important;
            text-align: center;
            font-weight: bold;
            font-size: 12px;
        }
    </style>

    <script src="~/Reference/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Reference/vue/vue.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini" style="background-color:gainsboro">

    <div id="tab_account">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">附件</h3>

                <div class="box-tools">


                </div>

            </div>



            <!-- /.box-header -->
            <div class="box-body">


                <table class="table table-bordered table-hover ">
                    <tbody>
                        <tr>
                            <th class="my-td "> 名称</th>

                            <th class="my-td ">操作</th>
                        </tr>
                        <tr v-for="(item,index) in list">
                            <td class="my-td "> {{item.FILENAME}}</td>


                            <td class="my-td ">
                                <button type="button" class="btn bg-green  btn-xs" v-on:click="View(item)">预览</button>
                                <button type="button" class="btn bg-purple  btn-xs" v-on:click="Download(item)">下载</button>
                     
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">

          

            </div>

        </div>

        <img id="img1" />


    </div>
</body>
</html>


<!-- jQuery 3 -->
<!-- Bootstrap 3.3.7 -->
<script src="~/Reference/adminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Slimscroll -->
<script src="~/Reference/adminLTE/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="~/Reference/adminLTE/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="~/Reference/adminLTE/dist/js/adminlte.min.js"></script>


<script src="~/Reference/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Reference/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>


<!-- AdminLTE for demo purposes -->
<script src="~/Reference/adminLTE/dist/js/demo.js"></script>
<script src="~/Reference/adminLTE/plugins/iCheck/icheck.min.js"></script>
<script src="~/Reference/scripts/jquery.bootstrap-growl.js"></script>


<script src="~/Reference/scripts/alertsjavascrtpt.js"></script>
<script src="~/js/jq-paginator.min.js"></script>
<script src="~/Reference/bootbox/bootbox.min.js"></script>
<script src="~/Reference/scripts/CommonScript.js"></script>
<script src="~/Reference/scripts/jquery.form.min.js"></script>
<script>
    var filelist = new Array();
    var fileitem = new Array();

    var vm = new Vue({
        el: "#tab_account",
        data: {
            id: 0,      //主键id
            list: [],
        },
        created: function () {

            this.id = getQueryString("id");
            this.Init();

        },
        mounted: function () {

            var _self = this;

       


        },
        methods: {

            Init() {

                var _self = this;

                _self.id = getQueryString("id");


                MyAjax({
                    url: "/Support/LisAttachmentt",
                    type: "POST",
                    data: {
                        id: _self.id
                    },
                    success: function (result) {

                        console.log(JSON.stringify(result));

                        if (!result.Success) {
                            alert_danger(result.Message);
                            return;
                        }
                        _self.list = result.Content;


                    }
                })
            },

            View: function (item) {

                var index1 = item.URL.lastIndexOf(".");
                var index2 = item.URL.length;
                var suffix = item.URL.substring(index1 + 1, index2);

                console.log(item.URL);
                console.log(suffix);

                if (suffix === "jpg" || suffix === "png" ) {

                    $("#img1").attr("src", item.URL);

                    return;
                }
                alert_danger("当前只支持预览图片类型文件");


            },
            Download: function (item) {

                var filename = item.URL.substring(item.URL.lastIndexOf("\\") + 1);

                var a = document.createElement("a");
                a.download = filename;
                a.href = item.URL;
                $("body").append(a); // 修复firefox中无法触发click
                a.click();
                $(a).remove();

            },
          
        }




    });






</script>