
@{
    ViewData["Title"] = "Create";
}
@section Pageheader{

    <script>

        function closeWui() {
            $(".wui-masked").hide();
            $('.wui-ilayout').animate({ width: '0' }, function () {
                $(".wui-ilayout iframe").attr("src", "about:blank");
            });
        }
        function showWui(uri, width) {
            var window_width = width || ($(window).width() / 2);
            $(".wui-masked").show();
            $(".wui-ilayout").show().animate({ width: window_width }, function () {
                var html = $("<div class='wui-ilayout-loading'><i class='icon-spin icon-spinner'></i>正在加载页面...</div>");
                $(".wui-ilayout iframe").before(html);
                $(".wui-ilayout iframe").attr('src', uri);
            });
        }

    </script>


    <h1>
        <small>  创建工单</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Support Create</li>
    </ol>

}


<section class="content">

    <div class="row" id="tab">
        <div class="col-md-3">
            <div class="box box-info" id="app">

                <div class="box-header with-border">
                    <h2 class="box-title">选项</h2>

                </div>

                <div class="box-body table-responsive ">


                    <table class="table table-hover" id="tab_contact">
                        <thead>


                        </thead>
                        <tbody>

                            <tr>
                                <td class="text-right col-sm-3 " style="vertical-align:middle">
                                    创建者 ：
                                </td>
                                <td class="col-sm-7" style="vertical-align:middle">
                                    <input type="text" class="form-control input-sm" v-model="creator.USER_NAME" readonly="readonly">
                                </td>
                                <td class="text-right col-sm-2" style="vertical-align:middle">
                                </td>
                            </tr>

                            <tr>
                                <td class="text-right col-sm-3 " style="vertical-align:middle">
                                    项目名称：
                                </td>
                                <td class="col-sm-7" style="vertical-align:middle">
                                    <input type="text" class="form-control input-sm" v-model="project.NAME" readonly="readonly">
                                </td>
                                <td class="text-right col-sm-2" style="vertical-align:middle">
                                    <button type="button" class="btn bg-purple  btn-xs " style="vertical-align:middle" v-on:click="FillProject()">添加</button>
                                </td>
                            </tr>





                            <tr>
                                <td class="col-sm-3 " style="vertical-align:middle">
                                    问题类型 ：
                                </td>
                                <td class="col-sm-7" style="vertical-align:middle">
                                    <select class="form-control" v-model="type">
                                        <option value="0">操作调试</option>
                                        <option value="1">来料质量</option>
                                        <option value="2">商务问题</option>
                                        <option value="3">设计问题</option>
                                        <option value="4">装配误差</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-right col-sm-3 " style="vertical-align:middle">
                                    优先级 ：
                                </td>
                                <td class="col-sm-7" style="vertical-align:middle">
                                    <select class="form-control" v-model="priority">
                                        <option value="0">紧急</option>
                                        <option value="1">高</option>
                                        <option value="2">中</option>
                                        <option value="3">低</option>
                                    </select>
                                </td>
                            </tr>


                            <tr>
                                <td class="col-sm-3 " style="vertical-align:middle">
                                    严重程度：
                                </td>
                                <td class="col-sm-7" style="vertical-align:middle">
                                    <select class="form-control" v-model="severity">
                                        <option value="0">致命</option>
                                        <option value="1">严重</option>
                                        <option value="2">一般</option>
                                        <option value="3">提示</option>
                                        <option value="4">建议</option>
                                    </select>
                                </td>

                            </tr>
                            <tr>
                                <td class="col-sm-3 " style="vertical-align:middle">
                                    发现日期：
                                </td>
                                <td class="col-sm-7" style="vertical-align:middle">
                                    <input type="text" class="form-control input-sm" id="txt_finddate" v-model="finddate" readonly="readonly" />
                                </td>

                            </tr>
                            <tr>
                                <td class="text-right col-sm-3 " style="vertical-align:middle">
                                    处理人：
                                </td>
                                <td class="col-sm-7" style="vertical-align:middle">
                                    <input type="text" class="form-control input-sm" v-model="conductor.USER_NAME" readonly="readonly">
                                </td>
                                <td class="text-right col-sm-2" style="vertical-align:middle">
                                    <button type="button" class="btn bg-purple  btn-xs " style="vertical-align:middle" v-on:click="FillUser()">添加</button>
                                </td>
                            </tr>


                        </tbody>
                    </table>



                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- About Me Box -->

            <div class="box box-warning" id="">
                <div class="box-header">
                    <h3 class="box-title">附件</h3>

                    <div class="box-tools pull-right">
                        <div class="btn btn-default btn-file  pull-right  btn-sm" style="margin-left:15px" id="from_fileupload">
                            <i class="fa fa-paperclip"></i> 上传
                            <input type="file" name="attachment" id="file_attachment" @@change="UploadFile()">
                        </div>
                    </div>

                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive " id="App_Temp">
                    <table class="table table-hover" id="tab_contact">
                        <tbody>
                            <tr>

                                <th>名称</th>
                                <th class="text-right"></th>
                            </tr>
                            <tr v-for="(item,index) in filelist">

                                <td>

                                    <a @@click="ViewFile(item.URL)" style="cursor:pointer;"> {{item.FILENAME}}</a>
                                </td>
                                <td class="text-right">
                                    @*<button type="button" class="btn bg-blue  btn-xs " v-on:click="viewitem(item)">预览</button>  &nbsp; &nbsp;*@
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="box-footer">

                </div>
                <!-- /.box-body -->
            </div>


            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">


            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-envelope "></i> &nbsp;&nbsp; 创建工单</h3>
                    <div class="box-tools pull-right">

                        <button type="button" id="btn_send" class="btn   btn-success pull-left" style="margin-left:20px;" @@click="Submit()">    <i class="fa fa-send"></i> &nbsp;&nbsp; 提 交</button>  &nbsp;&nbsp;


                    </div>

                </div>
                <!-- /.box-header -->
                <div class="box-body ">


                    <div class="form-inline" style="margin-top:10px">

                    </div>


                    <form class="form-horizontal" style="margin-top:10px">

                        <div class="form-group">

                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" v-model="title" placeholder="请填写工单概要">
                            </div>

                        </div>


                        <!-- /.box-body -->
                        <!-- /.box-footer -->


                        <div class="form-horizontal">

                            <textarea name="description" id="description" v-model="content" ></textarea>
                        </div>

                    </form>

                </div>
                <div class="box-footer">

                </div>
                <!-- /.box-body -->
            </div>

            <!-- Custom Tabs -->
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>
<!-- /.content -->
<!-- Control Sidebar -->

<div class="wui-masked" style="position:fixed;background:#fff;top:0;left:0;right:0;bottom:0;z-index:9998;opacity:0.3;display:none;"
     onclick="closeWui()"></div>


<div class="wui-ilayout" style="position:absolute; position:fixed;top:0;right:0;z-index:9999;bottom:0;border-left:4px #eee solid;display:none;background:#fff;">
    <div style="padding:2em;height:100%;background-color:gainsboro">
        <iframe style="width:50%;border:0 none;height:100%;width:100%;" src="about:blank" onload="javascript:$('.wui-ilayout-loading').remove()"></iframe>
    </div>
</div>

<!-- /.control-sidebar -->
@section scripts{
    <script src="~/Reference/adminLTE/bower_components/ckeditor/ckeditor.js"></script>
    <script src="~/Reference/scripts/jquery.form.min.js"></script>


    <script src="~/Reference/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Reference/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>


    <script>

       
        var vm = new Vue({
            el: "#tab",
            data: {
                finddate: "",       //发现时间
                filelist: [],        //附件集合
                creator: {},          //问题创建者
                project: {},            //项目信息
                conductor: {},          //问题处理者
                type: 0,             //问题类型
                priority: 0,         //优先级
                severity: 0,          //严重程度
                title: "",
                content: ""
            },
            created: function () {

                this.Init();


            },
            mounted: function () {
                var _self = this;
                // 显示文本编辑器
               var ck= CKEDITOR.replace('description', {
                    filebrowserImageUploadUrl: "/Support/UploadImage?type=Images",  //粘贴即上传图片功能，暂时屏蔽
                    height: 400
                });

                for (var i in CKEDITOR.instances) {
                    CKEDITOR.instances[i].on('change', function () {

                        _self.content=  ck.getData();

                    });
                }


                $('#txt_finddate').datetimepicker({
                    format: 'yyyy-mm-dd ',
                    autoclose: true,
                    minView: "month",  ///选择日期后，不会再跳转去选择时分秒
                    language: 'zh-CN',
                    dateFormat: 'yyyy-mm-dd',//日期显示格式
                    // timeFormat: 'HH:mm:ss',//时间显示格式
                    todayBtn: 1,
                    autoclose: 1,
                    // minView: 0,  //0表示可以选择小时、分钟   1只可以选择小时
                    // minuteStep: 1,//分钟间隔1分钟
                });


                $('#txt_finddate').datetimepicker()
                    .on('hide', function (ev) {
                        var enddate = $("#txt_finddate").val();
                        _self.finddate = enddate;
                    });



                //显示当前 创建人



            },
            methods: {

                Init() {
                    var _self = this;

                    MyAjax({
                        url: "/Support/CreatorInfo",
                        type: "POST",

                        success: function (result) {

                            console.log(JSON.stringify(result));

                            if (!result.Success) {

                                alert_danger(result.Message);
                                return;
                            }

                            _self.creator = result.Content;


                        }
                    })

                },
                UploadFile() {
                    var _self = this;
                    var loading = alert_loading_show("文件上传中...")
                    var uploadFile = $('#file_attachment')[0].files[0];

                    if (uploadFile.size >= 39307124) {
                        alert_danger("单个文件请不要超过30M");
                        return;
                    }


             
                    console.log("提交ajax");
                    $("#from_fileupload").ajaxSubmit({
                        url: '/Support/UploadAttachment',
                        type: 'post',
                        dataType: 'json',
                        processData: false,
                        contentType: false,

                        success: function (result) {

                            alert_loading_close(loading);

                            if (!result.Success) {
                                alert_danger(result.Message);
                                return;
                            }

                            alert_success("上传成功！");

                            console.log(JSON.stringify(result));
                            _self.filelist.push(result.Content);


                        }, xhr: function () {
                            var xhr = new XMLHttpRequest();
                            xhr.upload.addEventListener('progress', function (e) {

                            })

                            return xhr;
                        }
                    });



                },
                ViewFile(url) {

                    window.open(url);

                },
                Submit() {

                    
                    var CreatorId = this.creator.USER_ID;
                    var ConductorId = this.conductor.USER_ID;
                    var ProjectId = this.project.PID;
                    var Type = this.type;
                    var Priority = this.priority;
                    var Severity = this.severity;
                    var FindDate = this.finddate;
                    var Title = this.title;
                    var Content = this.content;

                    var Filelist = this.filelist;

                   
                    var json = { CreatorId: CreatorId, ConductorId: ConductorId, ProjectId: ProjectId, Type: Type, Priority: Priority, Severity: Severity, FindDate: FindDate, Title: Title, Content: Content, Filelist: Filelist };
                   
                    MyAjax({
                        url: "/Support/CreateSupport",
                        type: "POST",
                        data: json,
                        success: function (result) {

                            console.log(JSON.stringify(result));

                            if (!result.Success) {

                                alert_danger(result.Message);
                                return;
                            }

                            bootbox.confirm({
                                size: "small",
                                message: "创建工单成功！是否前去查看工单?",
                                callback: function (result) {

                                    if (result) {
                                        window.location.href = "/Support/Index";
                                    }
                                }
                            });
                         


                        }
                    })
                },
                FillUser() {

                    showWui("/Support/FillUser");
                },
                FillProject() {

                    showWui("/Support/FillProject");
                },
                SetProject(item) {

                    this.project = item;

                },
                SetUser(item) {

                    this.conductor = item;

                },
                
            },



        });



    </script>




}