
@{
    ViewData["Title"] = "Prject";
    Layout = "";
}
<html>
<head>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Reference/adminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">


    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Reference/adminLTE/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Reference/adminLTE/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->

    <link rel="stylesheet" href="~/Reference/adminLTE/dist/css/AdminLTE.css">

    <link rel="stylesheet" href="~/Reference/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">

    <link rel="stylesheet" href="~/Reference/adminLTE/dist/css/skins/_all-skins.min.css">




    <script src="~/Reference/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Reference/vue/vue.min.js"></script>

</head>
<body class="hold-transition skin-blue sidebar-mini" style="background-color:gainsboro">

    
        <!-- /.box-header -->
        <div id="tab_account">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">List</h3>

                    <div class="box-tools">

                       

                        <div class="input-group input-group-sm  col-md-2 pull-right ml-1" style="margin-left: 10px; width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" id="txt_Search" />

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default " @@click="Search()" id="btn_Search"><i class="fa fa-search"></i></button>
                            </div>

                        </div>

                        


                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">

                    <span style="display:none" id="sp_userid"></span>
                    <span style="display:none" id="sp_username"></span>
                    <table class="table table-bordered table-hover dataTable">
                        <tbody>
                            <tr>
                                <td  class="my-td ">项目名称</td>
                                <td  class="my-td ">客户名称</td>
                                <td  class="my-td ">设备名称</td>
                                

                                <td  class="my-td " style="width:150px">
                                    选择
                                </td>


                            </tr>

                            <tr v-for="(item,index) in list">
                                <td>{{item.NAME}}</td>
                                <td>{{item.CUSTOMER_NAME}}</td>

                                <td>{{item.TYPESNAME}}-{{item.MACHINE}}</td>



                                <td>


                                    <button type="button" class="btn bg-purple  btn-xs" v-on:click="Check(item)">选择</button>
                             
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->


                <div class="box-footer no-padding">
                    <div class="card-footer clearfix pull-left" style="margin-left:20px;margin-top:30px;margin-bottom:30px">

                    </div>

                    <div class="card-footer clearfix pull-right " style="margin-right:30px;margin-top:30px;margin-bottom:30px" id="div_page">

                        <ul class="pagination pagination-sm no-margin pull-right" id="ul_page">
                        </ul>
                    </div>


                    <!-- /.pull-right -->
                </div>
            </div>
        </div>
        <!-- /.box-body -->


      

</body>
</html>

<!-- jQuery 3 -->
<!-- Bootstrap 3.3.7 -->
<script src="~/Reference/adminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Slimscroll -->
<script src="~/Reference/adminLTE/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="~/Reference/adminLTE/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="~/Reference/adminLTE/dist/js/adminlte.min.js"></script>


<script src="~/Reference/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Reference/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>


<script src="~/Reference/scripts/jquery.bootstrap-growl.js"></script>


<script src="~/js/jq-paginator.min.js"></script>
<script src="~/Reference/bootbox/bootbox.min.js"></script>
<script src="~/Reference/scripts/CommonScript.js"></script>

<script src="~/Reference/scripts/alertsjavascrtpt.js"></script>

<script>


    var vm = new Vue({
        el: "#tab_account",
        data: {
            list: [],
            pageIndex: 1,
            pageSize: 15,
            pageCount: 20,
            TotalCount: 0

        },
        created: function () {

            this.Init();


        },
        methods: {

            Init() {

                var self = this;
                var keywork = $("#txt_Search").val();

                console.log("请求数据：" + keywork);


                MyAjax({
                    url: "/Project/List",
                    type: "POST",
                    data: {
                        keywords: keywork,
                        pageIndex: self.pageIndex,
                        pageSize: self.pageSize
                    },
                    success: function (result) {

                        console.log(JSON.stringify(result));

                        if (!result.Success) {

                            alert_danger(result.Message);
                            return;
                        }

                        self.list = result.Content;



                        self.pageIndex = result.PageIndex;
                        self.pageSize = result.PageSize;
                        self.pageCount = result.PageCount;
                        self.pageCount = result.PageTotal;

                        self.PageBind();
                    }
                })
            },

            Search: function () {
                pageIndex = 1;
                this.Init();
            },
            PageBind: function () {
                var self = this;

                console.log()

                $("#ul_page").jqPaginator({
                    totalPages: self.pageCount,
                    visiblePages: self.pageSize,
                    currentPage: self.pageIndex,

                    first: ' <li><a href="#">First</a></li>',
                    prev: ' <li><a href="#">&laquo;</a></li>',
                    next: ' <li><a href="#">&raquo;</a></li>',
                    last: '<li><a href="#">Last<\/a><\/li>',
                    page: '<li><a href="javascript:void(0);">{{page}}<\/a><\/li>',

                    onPageChange: function (num, type) {

                        self.pageIndex = num;

                        if (type == "change") {
                            self.Init();
                        }
                    }
                });
            },
            Check: function (item) {


                window.parent.vm.SetProject(item);


            },
     
          
        





        },



    });







</script>
