
@{
    ViewData["Title"] = "Index";
}
@section Htmlhead{


    <style>

        .my-td {
            vertical-align: middle !important;
            text-align: center;
        }
    </style>


}
@section Pageheader{


    <script>

        function closeWui() {
            $(".wui-masked").hide();
            $('.wui-ilayout').animate({ width: '0' }, function () {
                $(".wui-ilayout iframe").attr("src", "about:blank");
            });
        }
        function showWui(uri, width) {
            var window_width = width || ($(window).width() / 2);
            $(".wui-masked").show();
            $(".wui-ilayout").show().animate({ width: window_width }, function () {
                var html = $("<div class='wui-ilayout-loading'><i class='icon-spin icon-spinner'></i>正在加载页面...</div>");
                $(".wui-ilayout iframe").before(html);
                $(".wui-ilayout iframe").attr('src', uri);
            });
        }

    </script>

    <h1>
        <small> 问题追踪</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Support</li>
    </ol>

}






<section class="content">
    <div class="row">

        <!-- /.col -->
        <div id="tab_account">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">List</h3>

                    <div class="box-tools">

                        <div class="input-group input-group-sm  col-md-1 pull-right ml-1" style="margin-left:10px;">
                            <button type="button" class="btn btn-default pull-right  btn-sm" @@click="Add()" id="btn_Add">创建工单</button>
                        </div>

                        @*<div class="input-group input-group-sm  col-md-1 pull-right ml-1" style="margin-left:10px;">
                                <button type="button" class="btn btn-default pull-right  btn-sm" @@click="ExportExcel()" id="btn_Search">导出Excel</button>
                            </div>*@



                        <div class="input-group input-group-sm  col-md-1 pull-right ml-1" style="margin-left:10px; width:150px;">
                            <select class="form-control" id="txt_types" v-model="watchType" @@change="Init()">
                                <option value="0" checked="true">全部</option>
                                <option value="1">我创建的</option>
                                <option value="2">我处理的</option>
                            </select>
                        </div>

                        <div class="input-group input-group-sm  col-md-2 pull-right ml-1" style="margin-left: 10px; width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" id="txt_Search" />

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default " @@click="Search()" id="btn_Search"><i class="fa fa-search"></i></button>
                            </div>

                        </div>


                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">

                  

                    <table class="table table-bordered table-hover dataTable">
                        <tbody>
                            <tr>
                                <th class="my-td ">ID</th>

                                <th class="my-td ">工单编号</th>

                                <th class="my-td ">项目名称</th>

                                <th class="my-td ">问题机型</th>
                                <th class="my-td ">问题类型</th>

                                <th class="my-td ">创建人</th>
                                <th class="my-td ">处理人</th>

                                <th class="my-td ">问题描述</th>

                                <th class="my-td ">严重程度</th>


                                <th class="my-td ">流程节点</th>
                                <th class="my-td ">工单状态</th>
                                <th class="my-td ">创建时间</th>
                                <th class="my-td ">操作</th>
                            </tr>




                            <tr v-for="(item,index) in list">
                                <td class="my-td ">{{item.SID}}</td>
                                <td class="my-td ">{{item.CODE}}</td>
                                <td class="my-td ">{{item.PROJECTNAME}}</td>

                                <td class="my-td ">
                                    @*<a @@click="View(item)">  {{item.TITLE}} </a>*@

                                    {{item.MACHINENAME}}-  {{item.MACHINESERIAL}}

                                </td>

                                <td class="my-td ">

                                    @*<a @@click="ChangeType(item.TYPE,item)">{{SetType(item.TYPE)}}</a>*@
                                    {{SetType(item.TYPE)}}

                                </td>

                                <td class="my-td ">{{item.CREATORNAME}}</td>
                                <td class="my-td ">

                                    <a @@click="ChangeUser(item)">
                                        {{item.CONDUCTORNAME}}
                                    </a>

                                </td>

                                <td class="my-td ">{{item.CONTENT}}</td>


                                <td class="my-td ">
                                    <small class="label  bg-black" v-if="item.SEVERITY==0" @@click="ChangeSeverity(item.SEVERITY,item)"> {{SetSeverity(item.SEVERITY)}}</small>
                                    <small class="label  bg-red" v-if="item.SEVERITY==1" @@click="ChangeSeverity(item.SEVERITY,item)"> {{SetSeverity(item.SEVERITY)}}</small>
                                    <small class="label  bg-yellow" v-if="item.SEVERITY==2" @@click="ChangeSeverity(item.SEVERITY,item)"> {{SetSeverity(item.SEVERITY)}}</small>
                                    <small class="label  bg-gray" v-if="item.SEVERITY==3" @@click="ChangeSeverity(item.SEVERITY,item)"> {{SetSeverity(item.SEVERITY)}}</small>
                                    <small class="label  bg-blue" v-if="item.SEVERITY==4" @@click="ChangeSeverity(item.SEVERITY,item)"> {{SetSeverity(item.SEVERITY)}}</small>

                                </td>


                                <td class="my-td ">

                                    <span class="text-light-blue" @@click="ChangeStatus(item.STATUS,item)"> {{SetStatus(item.STATUS)}}</span>

                                </td>


                                <td class="my-td ">

                                    <lable class="text-red" v-if="item.STATE==0"> {{SetState(item.STATE)}}</lable>
                                    <lable class="text-green" v-if="item.STATE==1"> {{SetState(item.STATE)}}</lable>
                                    <lable class="text-blue" v-if="item.STATE==2"> {{SetState(item.STATE)}}</lable>
                                </td>


                                <td class="my-td ">{{item.CREATETIME}}</td>
                                <td class="my-td ">


                                    <button type="button" class="btn bg-primary  btn-xs" v-on:click="Details(item)">详情</button>
                                    &nbsp;
                                    @*<button type="button" class="btn bg-purple  btn-xs " v-if="item.STATUS!=6 && item.STATUS!=7" v-on:click="Dispose(item)">处理</button>*@
                                    &nbsp;
                                    <button type="button" class="btn bg-teal  btn-xs" v-on:click="Att(item)">附件</button>



                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->


                <div class="box-footer no-padding">
                    <div class="card-footer clearfix pull-left" style="margin-left:20px;margin-top:30px;margin-bottom:30px">

                    </div>

                    <div class="card-footer clearfix pull-right " style="margin-right:30px;margin-top:30px;margin-bottom:30px" id="div_page">

                        <ul class="pagination pagination-sm no-margin pull-right" id="ul_page">
                        </ul>
                    </div>


                    <!-- /.pull-right -->
                </div>
            </div>




            <div class="modal fade" id="modal-default">
                <div class="modal-dialog" style="width:700px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="txt_username">详情</h4>
                        </div>
                        <div class="modal-body">

                            <form class="form-horizontal">

                                <div class="form-group">
                                    <label for="txt_projectname" class="col-sm-2 control-label">问题机型：</label>

                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="txt_Title" v-model="supprotInfo.TITLE" readonly="readonly">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="txt_kehuname" class="col-sm-2 control-label">创建人：</label>

                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" v-model="supprotInfo.CREATORNAME" readonly="readonly">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="txt_kehuname" class="col-sm-2 control-label">发现时间：</label>

                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" v-model="supprotInfo.FINDATE" readonly="readonly">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="txt_kehuname" class="col-sm-2 control-label">处理人：</label>

                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" v-model="supprotInfo.CONDUCTORNAME" readonly="readonly">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="txt_address" class="col-sm-2 control-label">项目名称：</label>

                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" v-model="supprotInfo.PROJECTNAME" readonly="readonly">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="txt_address" class="col-sm-2 control-label">内容：</label>

                                    <div class="col-sm-10 pull-right">
                                        <textarea class="form-control" style="margin-left:0px" rows="3" id="txt_remarks" v-model="supprotInfo.CONTENT" readonly="readonly"></textarea>
                                    </div>

                                </div>




                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">关闭</button>


                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>



        </div>


    </div>
    <!-- /.col -->
    <!-- /.row -->



</section>

<!-- Control Sidebar -->

<div class="wui-masked" style="position:fixed;background:#fff;top:0;left:0;right:0;bottom:0;z-index:9998;opacity:0.3;display:none;"
     onclick="closeWui()"></div>


<div class="wui-ilayout" style="position:absolute; position:fixed;top:0;right:0;z-index:9999;bottom:0;border-left:4px #eee solid;display:none;background:#fff;">
    <div style="padding:2em;height:100%;background-color:gainsboro">
        <iframe style="width:50%;border:0 none;height:100%;width:100%;" src="about:blank" onload="javascript:$('.wui-ilayout-loading').remove()"></iframe>
    </div>
</div>





<!-- /.control-sidebar -->
@section scripts{

    <script src="~/Reference/scripts/jquery.form.min.js"></script>


    <script src="~/Reference/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Reference/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <script>
        var ck;

        var vm = new Vue({
            el: "#tab_account",
            data: {
                list: [],
                pageIndex: 1,
                pageSize: 10,
                pageCount: 20,
                pageTotal: 0,
                user_id: 0,

                supprotInfo: {},
                orderby: "SID",
                watchType:0
            },
            created: function () {

                this.Init();


            },
            mounted: function () {




            },
            methods: {

               Init() {

                   var self = this;
                   var keywork = $("#txt_Search").val();

                   console.log("请求数据：" + keywork);


                   MyAjax({
                       url: "/Support/List",
                       type: "POST",
                       data: {
                           keywords: keywork,
                           pageIndex: self.pageIndex,
                           pageSize: self.pageSize,
                           orderby: self.orderby,
                           watchType: self.watchType
                       },
                       success: function (result) {

                          console.log(JSON.stringify(result));

                           if (!result.Success) {

                               alert_danger(result.Message);
                               return;
                           }

                           self.list = result.Content;



                           self.pageIndex = result.PageIndex;
                           self.pageSize = result.PageSize;
                           self.pageCount = result.PageCount;
                           self.pageTotal = result.PageTotal;


                           self.PageBind();
                       }
                   })
               },

               Search: function () {
                   this.pageIndex = 1;
                   this.Init();
               },
               PageBind: function () {
                   var self = this;

                   console.log()

                   $("#ul_page").jqPaginator({
                       totalPages: self.pageTotal,
                       visiblePages: self.pageSize,
                       currentPage: self.pageIndex,

                       first: ' <li><a href="#">First</a></li>',
                       prev: ' <li><a href="#">&laquo;</a></li>',
                       next: ' <li><a href="#">&raquo;</a></li>',
                       last: '<li><a href="#">Last<\/a><\/li>',
                       page: '<li><a href="javascript:void(0);">{{page}}<\/a><\/li>',

                       onPageChange: function (num, type) {

                           self.pageIndex = num;

                           if (type == "change") {
                               self.Init();
                           }
                       }
                   });
               },
               ExportExcel: function () {
                   var keyword = $("#txt_Search").val();
                   window.location = "/Support/ExportExcel?keyword=" + keyword;
               },
               Add: function () {

                   window.location.href = "/Support/Create";
                },
               Update: function (item) {

                   var _self = this;
                   MyAjax({
                       url: "/Support/Update",
                       type: "POST",
                       data: item,
                       success: function (result) {

                           console.log(JSON.stringify(result));

                           if (!result.Success) {

                               alert_danger(result.Message);
                               return;
                           }
                           alert_success("修改成功！");

                           _self.Init();
                       }
                   })
                },
               View: function (item) {
                    this.supprotInfo = item;
                    $('#modal-default').modal('show');

                },
               SetSeverity: function (value) {
                    return EnumGetSingle(value, Support_Severitylist());
               },
               SetType: function (value) {

                   return EnumGetSingle(value, Support_Typelist());

               },
               SetPriority(value) {
                   return EnumGetSingle(value, Support_Prioritylist());

               },
               SetStatus(value) {

                   return EnumGetSingle(value, Support_Statuslist());
                },
                SetState(value) {

                    return EnumGetSingle(value, Support_State());
                },
               ChangeType(value,item) {
                   var _self = this;
                 
                   //bootbox.prompt({
                   //    size: "small",
                   //    title: "问题类型",
                   //    inputType: "select",
                   //    value: value,
                   //    inputOptions: Support_Typelist(),
                   //    callback: function (result) {

                   //        if (result == null) {
                   //            return;
                   //        }
                   //        item.TYPE = result;
                   //        _self.Update(item);


                   //    }
                   //});
                },
               ChangeStatus(value, item) {
                    var _self = this;
                 
                    //bootbox.prompt({
                    //    size: "small",
                    //    title: "工单状态",
                    //    inputType: "select",
                    //    value: value,
                    //    inputOptions: [{ value: 6, text: "已完成" }, { value: 7, text: "已拒绝" }],
                    //    callback: function (result) {

                    //        if (result == null) {
                    //            return;
                    //        }
                    //        item.STATUS = result;
                    //        _self.Update(item);

                    //    }
                    //});
                },
               ChangePriority(value, item) {
                    var _self = this;
                  
                    //bootbox.prompt({
                    //    size: "small",
                    //    title: "工单状态",
                    //    inputType: "select",
                    //    value: value,
                    //    inputOptions: Support_Prioritylist(),
                    //    callback: function (result) {

                    //        if (result == null) {
                    //            return;
                    //        }
                    //        item.PRIORITY = result;
                    //        _self.Update(item);

                    //    }
                    //});
                },
               ChangeSeverity(value, item) {
                    var _self = this;
                 
                    //bootbox.prompt({
                    //    size: "small",
                    //    title: "工单状态",
                    //    inputType: "select",
                    //    value: value,
                    //    inputOptions: Support_Severitylist(),
                    //    callback: function (result) {

                    //        if (result == null) {
                    //            return;
                    //        }
                    //        item.SEVERITY = result;
                    //        _self.Update(item);

                    //    }
                    //});
                },
                ChangeUser(item) {
                  
                    this.supprotInfo = item;
                    showWui("/Support/FillUser");
                },
               SetUser(item) {

                    console.log(item);

                    var _self = this;
                    _self.supprotInfo.CONDUCTOR = item.USER_ID;
                    _self.supprotInfo.CONDUCTORNAME = item.USER_NAME;

                    _self.Update(_self.supprotInfo);


                    closeWui();

                },
               Dispose(item) {

                   var _self = this;
                   MyAjax({
                       url: "/Support/CreatorInfo",
                       type: "POST",

                       success: function (result) {

                           console.log(JSON.stringify(result));

                           if (!result.Success) {

                               alert_danger(result.Message);
                               return;
                           }

                           _self.user_id = result.Content.USER_ID;

                           if (_self.user_id != item.CONDUCTOR) {
                               alert_info("抱歉您不是该工单处理人员！");
                               return
                           }

                           if (item.STATUS == 0) {
                               window.location.href = "/Support/Disposer?id=" + item.SID;      //创建工单后，状态为0， 跳转到处理工单  （处理后状态为1 或 2  PMC 或 非PMC ）
                               return;
                           }
                           if (item.STATUS == 1) {
                               window.location.href = "/Support/PmcOrder?id=" + item.SID;      //处理工单后，状态为1， 需要PMC处理，（处理完成后 状态为3   PMC）
                               return;
                           }
                           if (item.STATUS == 2) {
                               window.location.href = "/Support/SiteCheck?id=" + item.SID;      //处理工单后，状态为2，无需PMC处理 （处理完成后  状态为3  非PMC）
                               return;
                           }
                           if (item.STATUS == 3) {
                               window.location.href = "/Support/SiteCheck?id=" + item.SID;     //技术或PMC处理后，状态为3， 现场人员检测 （处理完成后状态为4  负责人审核）
                               return;
                           }
                           if (item.STATUS == 4) {
                               window.location.href = "/Support/PrincipalCheck?id=" + item.SID;  //现场取人后， 状态为4， 负责人审核， （处理完成后状态 为 5或 6，6为已完成，5为完成）
                               return;
                           }
                           if (item.STATUS == 5) {
                               window.location.href = "/Support/SiteCheck?id=" + item.SID;   //审核后，状态为5属于未完成，被打回，重新提交审核
                               return;
                           }




                       }
                   })


                


                },
                Att(item) {

                    showWui("/Support/Attachment?id=" + item.SID);

                },
                ChangeContent() {

                    this.supprotInfo.CONTENT = ck.getData();
                    this.Update(this.supprotInfo);

                },
                Details(item) {
              
                    window.location.href = "/SupportTimeLine/WorkFolw?id=" + item.SID;
                    
                }
           },



       });


    </script>

}
