
@{
    ViewData["Title"] = "Index";
}

@section Pageheader{
    <h1>
        <small> 问题追踪</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Support</li>
    </ol>

}

