
@{
    ViewData["Title"] = "PmcCheck";
}
@section Pageheader{

    <script>

        function closeWui() {
            $(".wui-masked").hide();
            $('.wui-ilayout').animate({ width: '0' }, function () {
                $(".wui-ilayout iframe").attr("src", "about:blank");
            });
        }
        function showWui(uri, width) {
            var window_width = width || ($(window).width() / 2);
            $(".wui-masked").show();
            $(".wui-ilayout").show().animate({ width: window_width }, function () {
                var html = $("<div class='wui-ilayout-loading'><i class='icon-spin icon-spinner'></i>正在加载页面...</div>");
                $(".wui-ilayout iframe").before(html);
                $(".wui-ilayout iframe").attr('src', uri);
            });
        }

    </script>


    <h1>
        <small>  处理工单(PMC处理)</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Support </li>
    </ol>

}


<section class="content">

    <div class="row" id="tab">
        <div class="col-md-3">
            <div class="box box-info" id="app">

                <div class="box-header with-border">
                    <h2 class="box-title">基本信息</h2>

                </div>

                <div class="box-body table-responsive ">


                    <table class="table table-hover" id="tab_contact">
                        <thead>


                        </thead>
                        <tbody>

                            <tr>
                                <td class="text-right col-sm-3 " style="vertical-align:middle">
                                    创建者 ：
                                </td>
                                <td class="col-sm-7" style="vertical-align:middle">
                                    <input type="text" class="form-control input-sm" :value="supprotInfo.CREATORNAME" readonly="readonly">
                                </td>
                                <td class="text-right col-sm-2" style="vertical-align:middle">
                                </td>
                            </tr>

                            <tr>
                                <td class="text-right col-sm-3 " style="vertical-align:middle">
                                    项目名称：
                                </td>
                                <td class="col-sm-7" style="vertical-align:middle">
                                    <input type="text" class="form-control input-sm" :value="supprotInfo.PROJECTNAME" readonly="readonly">
                                </td>

                            </tr>





                            <tr>
                                <td class="col-sm-3 " style="vertical-align:middle">
                                    问题类型：
                                </td>
                                <td class="col-sm-7" style="vertical-align:middle">
                                    <input type="text" class="form-control input-sm" :value="SetType(supprotInfo.TYPE)" readonly="readonly">
                                </td>
                            </tr>

                        


                            <tr>
                                <td class="col-sm-3 " style="vertical-align:middle">
                                    严重程度：
                                </td>
                                <td class="col-sm-7" style="vertical-align:middle">
                                    <input type="text" class="form-control input-sm" :value="SetSeverity(supprotInfo.SEVERITY)" readonly="readonly">
                                </td>

                            </tr>
                            <tr>
                                <td class="col-sm-3 " style="vertical-align:middle">
                                    发现日期：
                                </td>
                                <td class="col-sm-7" style="vertical-align:middle">
                                    <input type="text" class="form-control input-sm" id="txt_finddate" :value="supprotInfo.FINDATE" readonly="readonly" />
                                </td>

                            </tr>
                            <tr>
                                <td class="text-right col-sm-3 " style="vertical-align:middle">
                                    处理人：
                                </td>
                                <td class="col-sm-7" style="vertical-align:middle">
                                    <input type="text" class="form-control input-sm" v-model="supprotInfo.CONDUCTORNAME" readonly="readonly">
                                </td>
                            </tr>

                            <tr>
                                <td class="text-right col-sm-3 " style="vertical-align:middle">
                                    创建时间：
                                </td>
                                <td class="col-sm-7" style="vertical-align:middle">
                                    <input type="text" class="form-control input-sm" v-model="supprotInfo.CREATETIME" readonly="readonly">
                                </td>
                            </tr>


                            <tr>
                                <td class="text-right col-sm-3 " style="vertical-align:middle">
                                    问题机型：
                                </td>
                                <td class="col-sm-7" style="vertical-align:middle">
                                    <input type="text" class="form-control input-sm" v-model="supprotInfo.TITLE" readonly="readonly">
                                </td>
                            </tr>

                            <tr>

                                <td colspan="3" class="col-sm-12" style="vertical-align:middle">

                                    <textarea class="form-control" style="margin-left:0px" rows="3" placeholder="请描述详细问题" v-model="supprotInfo.CONTENT" readonly="readonly"></textarea>
                                </td>
                            </tr>


                        </tbody>
                    </table>



                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- About Me Box -->

            <div class="box box-warning" id="">
                <div class="box-header">
                    <h3 class="box-title">附件</h3>

                    <div class="box-tools pull-right">
                        <div class="btn btn-default btn-file  pull-right  btn-sm" style="margin-left:15px" id="from_fileupload">
                            <i class="fa fa-paperclip"></i> 上传
                            <input type="file" name="attachment" id="file_attachment" @@change="UploadFile()">
                        </div>
                    </div>


                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive " id="App_Temp">
                    <table class="table table-hover" id="tab_contact">
                        <tbody>
                            <tr>

                                <th>名称</th>
                                <th class="text-right"></th>
                            </tr>
                            <tr v-for="(item,index) in filelist">

                                <td>

                                    <a @@click="Download(item)" style="cursor:pointer;"> {{item.FILENAME}}</a>
                                </td>
                                <td class="text-right">
                                    <button type="button" class="btn bg-blue  btn-xs " v-on:click="Download(item)">下载</button>  &nbsp; &nbsp;
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="box-footer">

                </div>
                <!-- /.box-body -->
            </div>


            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">


            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-envelope "></i> &nbsp;&nbsp; 处理工单</h3>
                    <div class="box-tools pull-right">

                      

                    </div>

                </div>
                <!-- /.box-header -->
                <div class="box-body ">


                    <div class="form-inline" style="margin-top:10px">

                    </div>


                    <form class="form-horizontal" style="margin-top:10px">

                 

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="padding-right:0px">BOM图纸：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" v-model="bom" placeholder="请输入BOM图纸">
                            </div>

                        </div>





                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="padding-right:0px">是否下单：</label>
                            <div class="col-sm-6">
                                <select class="form-control" v-model="isbook">
                                    <option value="0">无需下单</option>
                                    <option value="1">需要下单</option>

                                </select>
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="padding-right:0px">下单日期：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" id="txt_bookdate" v-model="bookdate" placeholder="请选择下单日期"  />
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="padding-right:0px">下单人：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" v-model="bookuser" placeholder="请输入下单人姓名">
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="padding-right:0px">物料单号：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" v-model="bookno" placeholder="请输入物料单号">
                            </div>

                        </div>


                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="padding-right:0px">交付日期：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" id="txt_delivery" v-model="delivery"  placeholder="请选择交付日期" />
                            </div>

                        </div>


                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="padding-right:0px">发货日期：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" id="txt_senddate" v-model="senddate"  placeholder="请选择发货日期" />
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="padding-right:0px">发货单号：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" v-model="sendno" placeholder="请填写发货单号" />
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="padding-right:0px">收货人：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" v-model="consignee" placeholder="请填写收货人" />
                            </div>

                        </div>


                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="padding-right:0px">流程节点：</label>
                            <div class="col-sm-6">
                                <select class="form-control" v-model="status">
                                    <option value="3" selected="selected">现场人员处理</option>
                                </select>
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="padding-right:0px">处理人：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm" v-model="nextuser.USER_NAME" placeholder="请选择下一处理人员" readonly="readonly">
                            </div>
                            <button type="button" class="btn bg-purple  btn-xs " style="vertical-align:middle" v-on:click="FillUser()">选择</button>

                        </div>





                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label" style="padding-right:0px">结果描述：</label>
                            <div class="col-sm-8" style="text-align:left">

                                <textarea class="form-control" style="margin-left:0px" rows="3" placeholder="请填写结果描述" v-model="remarks"></textarea>
                            </div>

                        </div>

                        <!-- /.box-body -->
                        <!-- /.box-footer -->



                    </form>

                </div>
                <div class="box-footer">
                    <button type="button" id="btn_send" class="btn   btn-success pull-left" style="margin-left:20px;" @@click="Submit()">    <i class="fa fa-send"></i> &nbsp;&nbsp; 提 交</button>  &nbsp;&nbsp;

                </div>
                <!-- /.box-body -->
            </div>

            <!-- Custom Tabs -->
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>
<!-- /.content -->
<!-- Control Sidebar -->

<div class="wui-masked" style="position:fixed;background:#fff;top:0;left:0;right:0;bottom:0;z-index:9998;opacity:0.3;display:none;"
     onclick="closeWui()"></div>


<div class="wui-ilayout" style="position:absolute; position:fixed;top:0;right:0;z-index:9999;bottom:0;border-left:4px #eee solid;display:none;background:#fff;">
    <div style="padding:2em;height:100%;background-color:gainsboro">
        <iframe style="width:50%;border:0 none;height:100%;width:100%;" src="about:blank" onload="javascript:$('.wui-ilayout-loading').remove()"></iframe>
    </div>
</div>

<!-- /.control-sidebar -->
@section scripts{
    <script src="~/Reference/scripts/jquery.form.min.js"></script>


    <script src="~/Reference/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Reference/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>


    <script>
        var ck;

        var vm = new Vue({
            el: "#tab",
            data: {
                supprotInfo: {},
            
                id: 0,      //主键id
                filelist: [],        //附件集合

                bom: "",
                isbook: 0,
                bookdate: "",
                bookuser: "",
                bookno: "",
                delivery: "",
                senddate: "",
                sendno: "",
                consignee: "",
                remarks: "",

                nextuser: {},     //下一处理人员
                status: 3,

            },
            created: function () {

                this.Init();
                this.InitAtt();
                this.InitConductor();
            },
            mounted: function () {
                var _self = this;



                $('#txt_bookdate ,#txt_delivery,#txt_senddate').datetimepicker({
                    format: 'yyyy-mm-dd ',
                    autoclose: true,
                    minView: "month",  ///选择日期后，不会再跳转去选择时分秒
                    language: 'zh-CN',
                    dateFormat: 'yyyy-mm-dd',//日期显示格式
                    // timeFormat: 'HH:mm:ss',//时间显示格式
                    todayBtn: 1,
                    autoclose: 1,
                    // minView: 0,  //0表示可以选择小时、分钟   1只可以选择小时
                    // minuteStep: 1,//分钟间隔1分钟
                });

                $('#txt_bookdate').datetimepicker()
                    .on('hide', function (ev) {
                        var stardate = $("#txt_bookdate").val();
                        _self.bookdate = stardate;
                    });
                $('#txt_delivery').datetimepicker()
                    .on('hide', function (ev) {
                        var stardate = $("#txt_delivery").val();
                        _self.delivery = stardate;
                    });
                $('#txt_senddate').datetimepicker()
                    .on('hide', function (ev) {
                        var stardate = $("#txt_senddate").val();
                        _self.senddate = stardate;
                    });






            },
            methods: {

                Init() {
                    var _self = this;
                    _self.id = getQueryString("id");
                    MyAjax({
                        url: "/Support/GetUpdateInfo",
                        type: "POST",
                        data: {
                            id: _self.id
                        },
                        success: function (result) {

                            console.log(JSON.stringify(result));

                            if (!result.Success) {

                                alert_danger(result.Message);
                                return;
                            }
                            _self.supprotInfo = result.Content;


                          

                        }
                    })

                },
                InitAtt() {

                    var _self = this;

                    _self.id = getQueryString("id");


                    MyAjax({
                        url: "/Support/LisAttachmentt",
                        type: "POST",
                        data: {
                            id: _self.id
                        },
                        success: function (result) {

                            console.log(JSON.stringify(result));

                            if (!result.Success) {
                                alert_danger(result.Message);
                                return;
                            }
                            _self.filelist = result.Content;


                        }
                    })

                },
                InitConductor() {

                    var _self = this;

                    MyAjax({
                        url: "/Support/CreatorInfo",
                        type: "POST",

                        success: function (result) {

                            console.log(JSON.stringify(result));

                            if (!result.Success) {

                                alert_danger(result.Message);
                                return;
                            }

                            _self.analyzeUser = result.Content;


                        }
                    })

                },
                SetSeverity: function (value) {
                    return EnumGetSingle(value, Support_Severitylist());
                },
                SetType: function (value) {

                    return EnumGetSingle(value, Support_Typelist());

                },
                SetPriority(value) {
                    return EnumGetSingle(value, Support_Prioritylist());

                },
                SetStatus(value) {

                    return EnumGetSingle(value, Support_Statuslist());
                },
                Download: function (item) {

                    var filename = item.URL.substring(item.URL.lastIndexOf("\\") + 1);

                    var a = document.createElement("a");
                    a.download = filename;
                    a.href = item.URL;
                    $("body").append(a); // 修复firefox中无法触发click
                    a.click();
                    $(a).remove();

                },
                FillUser() {

                    showWui("/Support/FillUser");
                },
                SetUser(item) {

                    this.nextuser = item;
                    closeWui();

                },
                Submit() {

                    var _self = this;


                    if (Object.keys(_self.nextuser).length == 0) {
                        alert_danger("请选择下一经办人！");
                        return;
                    }

                    if (_self.bom == "") {
                        alert_danger("请填写Bom图纸");
                        return;
                    }

                

                    var json = {};
                    json.BOM = _self.bom;
                    json.ISBOOK = _self.isbook;
                    json.BOOKDATE = _self.bookdate;
                    json.BOOKUSER = _self.bookuser;

                    json.BOOKNO = _self.bookno;
                    json.DELIVERY = _self.delivery;
                    json.SENDDATE = _self.senddate;
                    json.SENDNO = _self.sendno;
                    json.CONSIGNEE = _self.consignee;
                    json.REMARKS = _self.remarks;
                    json.SID = _self.id;
                    ////////////////////


                  




                    MyAjax({
                        url: "/Support/AddPmcOrder",
                        type: "POST",
                        data: {
                            nextUser: _self.nextuser.USER_ID,
                            supportStatus: _self.status,
                            model: json
                        },
                        success: function (result) {

                            console.log(JSON.stringify(result));

                            if (!result.Success) {
                                alert_danger(result.Message);
                                return;
                            }



                            alert_success(result.Message);

                            window.location.href = "/Support/Index";

                         @*   bootbox.confirm({
                                title: "提示",
                                size: "small",
                                message: "工单处理成功！是否前去查看工单?",
                                callback: function (result) {

                                    if (result) {
                                        window.location.href = "/Support/Index";
                                    }
                                }
                            });*@

                        }
                    })

                },
                UploadFile() {
                    var _self = this;
                    var loading = alert_loading_show("文件上传中...")
                    var uploadFile = $('#file_attachment')[0].files[0];

                    if (uploadFile.size >= 39307124) {
                        alert_danger("单个文件请不要超过30M");
                        return;
                    }



                    console.log("提交ajax");
                    $("#from_fileupload").ajaxSubmit({
                        url: '/Support/UploadOther',
                        type: 'post',
                        dataType: 'json',
                        processData: false,
                        contentType: false,
                        data: {
                            sid: _self.id
                        },
                        success: function (result) {

                            alert_loading_close(loading);

                            if (!result.Success) {
                                alert_danger(result.Message);
                                return;
                            }

                            alert_success("上传成功！");

                            console.log(JSON.stringify(result));
                            _self.filelist.push(result.Content);


                        }, xhr: function () {
                            var xhr = new XMLHttpRequest();
                            xhr.upload.addEventListener('progress', function (e) {

                            })

                            return xhr;
                        }
                    });



                },
            },



        });



    </script>




}